<div class="breadcrumbs">
    {% for ance in ancestors %}
        {% if not forloop.last %}
            <a href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a>
        {% else %}
            <strong>{{ ance.get_menu_title }}</strong>
        {% endif %}
    {% endfor %}
</div>
