
{% for child in children|slice:":6" %}
    <li class="level1{% if child.children %} parent{% endif %}{% if child.selected %} active{% endif %}">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="level1">
            <span>{{ child.get_menu_title }}</span>
        </a>
    </li>
{% endfor %}