{% if placeholder == "slider"  %}
    <img src="{{ picture.image.url }}" alt="{{ picture.alt }}"{% if picture.longdesc %} title="{{ picture.longdesc }}" data-caption="{{ picture.longdesc }}"{% endif %} />
{% else %}
    <span class="plugin_picture{% if picture.float %} align-{{ picture.float }}{% endif %}">
    {% if link %}<a href="{{ link }}">{% endif %}
    <img src="{{ picture.image.url }}" alt="{{ picture.alt }}"{% if picture.longdesc %} title="{{ picture.longdesc }}"{% endif %} />
    {% if link %}</a>{% endif %}
    </span>
{% endif %}