
.clearfix:before, .clearfix:after, .grid-block:before, .grid-block:after, .deepest:before, .deepest:after {
    content: "";
    display: table;
}
.clearfix:after, .grid-block:after, .deepest:after {
    clear: both;
}
.grid-box {
    float: left;
}
.width16 {
    width: 16.666%;
}
.width20 {
    width: 20%;
}
.width25 {
    width: 25%;
}
.width33 {
    width: 33.333%;
}
.width35 {
    width: 35%;
}
.width40 {
    width: 40%;
}
.width50 {
    width: 50%;
}
.width60 {
    width: 60%;
}
.width66 {
    width: 66.666%;
}
.width75 {
    width: 75%;
}
.width80 {
    width: 80%;
}
.width100 {
    width: 100%;
}
.bfc-o {
    overflow: hidden;
}
.bfc-f {
    float: left;
    width: 100%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.grid-gutter.grid-block {
    margin: 15px -15px 0;
}
.grid-gutter.grid-block:first-child {
    margin-top: 0;
}
.grid-gutter > .grid-box > * {
    margin: 0 15px;
}
.wrapper {
    margin: auto;
}
#header {
    position: relative;
}
#toolbar .float-left .module, #toolbar .float-left > time {
    float: left;
    margin: 0 15px 0 0;
}
#toolbar .float-right .module {
    float: right;
    margin: 0 0 0 15px;
}
#headerbar .module {
    float: right;
    margin-right: 0;
    max-width: 300px;
}
#logo, #logo > img, #menu {
    float: left;
}
#search {
    float: right;
}
#banner {
    position: absolute;
    right: -200px;
    top: 0;
}
#footer {
    position: relative;
    text-align: center;
}
#absolute {
}
