
.menu, .menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.menu a, .menu span {
    display: block;
}
.menu a {
    text-decoration: none;
}
.menu-dropdown li {
    position: relative;
}
.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span {
    float: left;
}
.menu-dropdown a.level1 > span, .menu-dropdown span.level1 > span {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.menu-dropdown .dropdown {
    left: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    width: 300px;
    z-index: 100;
}
.menu-dropdown li:hover .dropdown, .menu-dropdown li.remain .dropdown {
    visibility: visible;
}
.menu-dropdown .dropdown-bg > div {
    overflow: hidden;
}
.menu-dropdown .columns2 {
    width: 600px;
}
.menu-dropdown .columns3 {
    width: 900px;
}
.menu-dropdown .columns4 {
    width: 1200px;
}
.menu-dropdown .column {
    float: left;
}
.menu-dropdown a.level2 > span, .menu-dropdown span.level2 > span {
    line-height: 21px;
    overflow: hidden;
    padding: 7px 0;
}
.menu-dropdown ul.level3 {
    padding-bottom: 10px;
}
.menu-dropdown li.level3 {
    font-size: 11px;
    line-height: 17px;
}
.menu-dropdown span.icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 35px;
    width: 35px;
}
.menu-dropdown span.icon + span, .menu-dropdown span.icon + span + span {
    margin-left: 35px;
}
.menu-dropdown li.level2 .level2 span.icon {
    margin-bottom: -7px;
    margin-top: -7px;
}
.menu-dropdown li.level2.hassubtitle .level2 span.icon {
    margin-top: -2px;
}
.menu-dropdown span.title {
    line-height: 21px;
}
.menu-dropdown span.subtitle {
    font-size: 9px;
    line-height: 10px;
    margin-top: -1px;
    text-indent: 1px;
}
.menu-sidebar li.parent span.level1 > span {
    cursor: pointer;
}
.menu-sidebar a.level1 > span, .menu-sidebar span.level1 > span {
    line-height: 20px;
    padding: 5px 0;
}
.menu-sidebar span.title {
    display: inline;
}
.menu-sidebar span.subtitle {
    display: none;
}
.menu-sidebar ul.level2 {
    padding-bottom: 10px;
}
.menu-sidebar li.level1:last-child ul.level2 {
    padding-bottom: 0;
}
.menu-sidebar .level2 a > span {
    font-size: 11px;
    line-height: 17px;
}
.menu-sidebar span.icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    margin: -5px 0;
    vertical-align: middle;
    width: 30px;
}
.menu-line, .menu-line li, .menu-line li a {
    display: inline-block;
}
