
.module {
    position: relative;
}
.module .badge {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.module .module-title .icon {
    display: block;
    float: left;
    height: 30px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    top: -6px;
    width: 30px;
}
.deepest > *:first-child {
    margin-top: 0;
}
.deepest > *:last-child {
    margin-bottom: 0;
}
.module .module-title {
    margin: 0 0 15px;
}
.module .module-title span.title {
    display: block;
}
.module .module-title span.subtitle {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
    text-indent: 1px;
}
