/* Author Name: arrowthemes http://themeforest.net/user/arrowthemes  Version: 1.0 */

@import url(base.css);


/* New style-related Base Values
----------------------------------------------------------------------------------------------------*/

::selection, ::-moz-selection, ::-webkit-selection {color: #ffffff}
body {font: normal 14px/20px Arial, Helvetica, sans-serif; color: #444;}
h2{font-size: 30px}
h3{font-size: 25px}
h4{font-size: 20px}
h6{font-size: 14px}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong, .module-title .color{font-weight: normal}
a { color: #48b; }
em, code { color: #d50; }
ins, mark { background-color: #ffa; }
mark { color: #444; }
hr { border-top-color: #ddd; }
pre { border: 1px solid #ddd;	background: #fafafa;}


/* Useful Snippets
----------------------------------------------------------------------------------------------------*/

a:not([class]):active,
a:not([class]):focus {
	position: relative;
	/*top: 1px;*/
}

a:not([class]):active > *,
a:not([class]):focus > * {
	position: relative;
	/*top: -1px;*/
}