
#header-block, #box-header{
background: #444C0A;
background: -moz-linear-gradient(top,  #97B200 0%, #444C0A 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97B200), color-stop(100%,#444C0A));
background: -webkit-linear-gradient(top,  #97B200 0%,#444C0A 100%);
background: -o-linear-gradient(top,  #97B200 0%,#444C0A 100%);
background: -ms-linear-gradient(top,  #97B200 0%,#444C0A 100%);
background: linear-gradient(top,  #97B200 0%,#444C0A 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97B200', endColorstr='#444C0A',GradientType=0 );
}

body { min-width: 998px; }
.wrapper { width: 998px; }
a { color: #6C8000; }
a:hover, #toolbar ul.menu li a:hover span  { color: #ABC900; }
body { color: #202020; }
body { background-color: #FFFFFF; }
::selection, ::-moz-selection, ::-webkit-selection { background: #647546;}
.sheet { border-color: #B0B0B0; }
.sheet { -webkit-box-shadow: 0 0 2px #FFFFFF; }
.sheet { -moz-box-shadow: 0 0 2px #FFFFFF; }
.sheet { box-shadow: 0 0 2px #FFFFFF; }
.footer-body { color: #FFFFFF; }
.footer-overlay-bottom p { color: #000000; }
.footer-overlay-bottom a { color: #808080; }
.footer-overlay-bottom a:hover { color: #FFFFFF; }
#toolbar { background-color: #202020; }
#mid-block, .header-divide { background-color: #E0E0E0; }
.content-texture { background-color: #F2F2F2; }
#bottom-block { background-color: #2C2C2C; }
#footer-block, #bottom-c { background-color: #2C2C2C; }
#header-bottom { background-color: #202020; }
#header-bottom { border-color: #181818; }
.menu-dropdown .dropdown-bg > div { border-color: #202020; }
.menu-dropdown .dropdown-bg > div { background-color: #252525; }
.menu-dropdown a.level1, .menu-dropdown span.level1, .menu-dropdown a.level2, .menu-dropdown span.level2, .menu-dropdown a.level3, .menu-dropdown span.level3, .tag-line, #call-us h1 { color: #FFFFFF; }
.menu-dropdown li.active .level1 { color: #FFFFFF; }
.level1 span.subtitle { color: #D4D4D4; }
.menu-sidebar a:hover, .menu-sidebar li > span:hover, .menu-sidebar a:hover > span, .menu-sidebar span:hover > span  { color: #97B200; }
.menu-dropdown li.level1.active, .menu-dropdown li.level1:hover, .menu-dropdown li.remain { background-color: #303030; }
.menu-dropdown a.level2:hover, .menu-dropdown a.level3:hover { background-color: #97B200; }
.menu-dropdown span.level2 > span { background-color: #303030; }
.menu-dropdown .dropdown { border-top: 4px solid #708200; }
.menu-dropdown a.level1:hover, .menu-dropdown li.remain a.level1, .menu-dropdown a.level2:hover, .menu-dropdown a.level3:hover, .menu-dropdown a.level2:hover span.subtitle { color: #FFFFFF; }
.menu-dropdown a.current.level2, .menu-dropdown a.current.level3 { background-color: #A0BD00; }
.menu-dropdown a.current.level2, .menu-dropdown a.current.level3, .menu-dropdown a.current.level2 span.subtitle { color: #FFFFFF; }
.vmenu>li>a, .vmenu ul a { color: #424242; }
.vmenu>li>a.active, .vmenu ul li a.active { color: #FFFFFF; }
.vmenu a:hover, .vmenu a.active:hover, .vmenu ul a:hover, .vmenu ul li a:hover, .vmenu ul li a:hover.active { color: #FFFFFF; }
.vmenu>li>a.active, .vmenu li li a.active { background-color: #69750F; }
.vmenu>li>a.active, .vmenu li li a.active { border-color: #50590B !important; }
.vmenu li li a.active span.border-top, .vmenu li li a.active span.border-bottom { background-color: #50590B; }
.vmenu>li>a:hover, .vmenu li li a:hover { background-color: #69750F !important; }
.vmenu>li>a:hover, .vmenu li li a:hover { border-color: #50590B !important; }
.vmenu>li>a:hover>span.border-top, .vmenu>li>a:hover>span.border-bottom, .vmenu li li a:hover span.border-top, .vmenu li li a:hover span.border-bottom   { background-color: #50590B !important; }
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong, .module-title .color { color: #808080; }
h1, h2, h3, h4, h5, h6, blockquote strong, blockquote p strong, .result h3, header h1.title a { color: #6C8000; }
.header-content .module-title, .header-content, #slide-zone, #slide-zone h2 { color: #FFFFFF; }
a.button-color, button.button-color, input[type="submit"].button-color, input[type="submit"].subbutton, input[type="reset"].button-color, input[type="button"].button-color, #system .pagination strong, .event-time .month, .block-number .bottom, .section-title, .jqTransformSelectWrapper ul a.selected, ul.white-top a.current, ul.white-top a.current:hover, #newsletter .module-title, ul.gkTabs li.active, ul.gkTabs li.active:hover { background-color: #586900 !important; }
a.button-color, button.button-color, input[type="submit"].button-color, input[type="submit"].subbutton, input[type="reset"].button-color, input[type="button"].button-color, #system .pagination strong, .event-time .month, .block-number .bottom, .section-title, .jqTransformSelectWrapper ul a.selected, ul.white-top a.current, ul.white-top a.current:hover, #newsletter .module-title, ul.gkTabs li.active, ul.gkTabs li.active:hover { color: #FFFFFF !important; }
a.button-color, button.button-color, input[type="submit"].button-color, input[type="submit"].subbutton, input[type="reset"].button-color, input[type="button"].button-color, #system .pagination strong, .event-time .month, .block-number .bottom, ul.gkTabs li.active, ul.gkTabs, .jqTransformSelectWrapper ul a.selected, .jqTransformSelectWrapper ul a.selected:hover { border-color: #394500 !important; }
.mejs-controls .mejs-time-rail .mejs-time-loaded { background-color: #69750F !important; }
.mod-color { background-color: #69750F; }
.mod-color { border: 1px solid #525C0C; }
.mod-color { color: #FFFFFF; }
img.spot-on:hover { -webkit-box-shadow: 0 0 1px rgba(255,255,255,.6), inset 0 0 120px #586900; }
img.spot-on:hover { -moz-box-shadow: 0 0 1px rgba(255,255,255,.6), inset 0 0 120px #586900; }
img.spot-on:hover { -ms-box-shadow: 0 0 1px rgba(255,255,255,.6), inset 0 0 120px #586900; }
img.spot-on:hover { -o-box-shadow: 0 0 1px rgba(255,255,255,.6), inset 0 0 120px #586900; }
img.spot-on:hover { box-shadow: 0 0 1px rgba(255,255,255,.6), inset 0 0 120px #586900; }
#maininner { width: 998px; }
#menu .dropdown { width: 200px; }
#menu .columns2 { width: 400px; }
#menu .columns3 { width: 600px; }
#menu .columns4 { width: 800px; }

.breadcrumbs a, .breadcrumbs > span {
    background: url("../img/breadcrumb-sep.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    height: 36px;
    margin-right: 7px;
    padding-right: 24px;
}

.content h3{
    margin-bottom: 0px;
}

.content p{
    margin-top: 5px;
}


