/* Author Name: arrowthemes http://themeforest.net/user/arrowthemes  Version: 1.0 */

@import url(base_layout.css);

/* Sections
----------------------------------------------------------------------------------------------------*/
	#content {margin: 8px 10px;}
	.boxed #content {margin: 8px 20px;}
	.module, #footer {margin: 10px;}

	/*background*/
	body {
	    font-size: 13px;
	    text-shadow: 0 1px 0 #FFFFFF;
	}

	/*header*/
	#header-block, #box-header{
		position: relative;
	}

	#header{
		margin: 0; 
		z-index: 12;
	}

	.header-divide{
		height: 1px;
		border: 3px double #B0B0B0;
		-moz-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
		box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);
	}


	/*mid-block	*/
	.mid-gradient{}
	.mid-divide{
	}


	/*copyright*/
	#copyright{
		text-align: center;
		margin-top: 10px;
	    font-size: 12px;
	}
	.bg-light #copyright{
	    color: #FFFFFF;
	}

	.bg-dark #copyright, .bg-dark #footer{
	    color: #FFFFFF; 
	    text-shadow: 0 1px 0 #202020;
	}

	#copyright .module{margin: 0; padding: 5px;}

	/*footer*/
	#footer{text-align: center; font-size: 11px;}
	#footer code{text-shadow: none;}

	.bottom-divide{
		border: 1px solid #000;
		-webkit-box-shadow: 0 -1px 0 #FFF;
		   -moz-box-shadow: 0 -1px 0 #FFF;
		        box-shadow: 0 -1px 0 #FFF;
	}

	.bottom-gradient{
		position: relative;
	}
	#bottom-block .module{text-shadow: none; color: #FFF;}
	#bottom-block h1, #bottom-c h1, #bottom-c h3, #bottom-c h4{color: #FFF; text-shadow: 0 -3px 1px #000000;}
	#bottom-c h4{line-height: 1.5; margin: 0;}

	.footer-divide{
	    box-shadow: 0 -1px 0 #FFFFFF;
	    height: 4px;
    	-webkit-box-shadow: 0 -1px 0px #fff;
    	   -moz-box-shadow: 0 -1px 0px #fff;
    	   -ms-box-shadow: 0 -1px 0px #fff;
    	   -o-box-shadow: 0 -1px 0px #fff;
    	        box-shadow: 0 -1px 0px #fff;
	}

	.footer-divide.bottom{
		-webkit-box-shadow: 0 0px 20px #000;
		-moz-box-shadow: 0 0px 20px #000;
		-ms-box-shadow: 0 0px 20px #000;
		-o-box-shadow: 0 0px 20px #000;
		box-shadow: 0 0px 20px #000;
	}

	#main{
		margin-bottom: 15px;
	}

	#footer .module { margin: 0; }
	#headerbar { 
		margin: 0; 
		float: left; 
		text-shadow: none; 
		color: #FFF;}




/* Layouts
----------------------------------------------------------------------------------------------------*/

	/*light-gray background*/
	div.css-panes div,.showhide li, .module.badge-hot, .module.badge-top, .module.badge-free, .module.badge-new, .event-time, .block-number, .accordion {
	background: url(../../../images/body/bg-white-large.png) repeat-x 0 0  #f2f2f2;}	

	#bottom-block div.css-panes div,#bottom-block .showhide li,#bottom-block  .module.badge-hot,#bottom-block  .module.badge-top,#bottom-block  .module.badge-free,#bottom-block  .module.badge-new,#bottom-block  .event-time,#bottom-block  .block-number, #bottom-block .accordion {
	background: url(../../../images/body/bg-dark-large.png) repeat-x 0 0  #0D0D0D; border: 1px solid #000;
	-webkit-box-shadow: 0 0 2px #404040 inset;
	   -moz-box-shadow: 0 0 2px #404040 inset;
	        box-shadow: 0 0 2px #404040 inset;
}
	.accordion h2,  table thead, table tfoot{
	background: url(../../../images/body/bg-white.png) 0 0 repeat-x scroll #dedede; }

	/* sidebars */
	#sidebar-a, #sidebar-b{
        margin-top: 0;
        width: 400px;
    }

	.search-box{margin: 30px 0;}

	#bottom-c{
		bottom: 10px;
	    left: 0;
	    right: 0;
	    top: 0;
	}

	#bottom-c .module-title{
	}

	#bottom-block .dotted {
    }

	/*toolbars*/
	#toolbar{background: url(../img/toolbar.png) 0 0 repeat-x transparent;
		border-bottom: 1px solid rgba(255,255,255, .1);
	 }
	#toolbar{margin: 0; z-index: 10; position: relative;}
	#toolbar .float-left .module, #toolbar .float-left > time, .float-right > li span{margin: 5px 15px 5px 0; font-size: 11px;}
	#toolbar .float-left .module, #toolbar .float-left > time{text-shadow: none; color: #FFF;}
	#toolbar ul.menu li span{color: #FFFFFF; text-shadow: none; font-size: 13px;}
	#toolbar ul.menu{margin: 3px 0 0;}
	/*search*/	
	#search{margin-left: 15px;}
	#searchbox{background-position:4% 46%;  -moz-border-radius:4px;  -ms-border-radius:4px;  -webkit-border-radius:4px;  -o-border-radius:4px;  border-radius:4px;}

	/*sheet*/
	.sheet-body{padding: 0; margin: 0 0px 0px}
	.sheet{border-width: 0 1px 1px; border-style: solid; border-color: #B0B0B0; margin-bottom: 20px; overflow: hidden;
		-webkit-box-shadow: 0 0 2px #FFFFFF;
		   -moz-box-shadow: 0 0 2px #FFFFFF;
		        box-shadow: 0 0 2px #FFFFFF;
	}

	/*header*/
	#header-top{height: 100px;}
	#header-bottom{height: 50px;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		    -ms-border-radius: 4px;
		     -o-border-radius: 4px;
		        border-radius: 4px;
	border-color: #000000 #202020 #202020;
	border-style: solid;
	border-width: 3px 1px 1px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
	   -moz-box-shadow: 0 1px 0 rgba(255,255,255,.1);
	        box-shadow: 0 1px 0 rgba(255,255,255,.1);
	}

	.boxed #header-bottom{-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	    -ms-border-radius: 4px 4px 0 0;
	     -o-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;}


	/*logo*/
	.logo-img{background: url(../img/logo.png) no-repeat scroll 0 0 transparent; width: 300px; height: 80px; margin: 0; float: left;}

	/*menu*/
	#menubar{
		margin-top: -2px; 
	}
	#menu {float: left;}

	#breadcrumbs {
		margin: 0 0;
	}

	/*slider-zone*/
	#slide-zone{
		 text-shadow: none; margin-top: 0; position: relative;}
	#slide-zone .module{margin: 0;}

	/*full-slide-zone*/
	#full-slide-zone{
		 text-shadow: none; margin-top: -155px; position: relative;}
	.boxed #full-slide-zone{margin-top: 0;}
	#full-slide-zone .module{margin: 0;}
	
	/*top*/
	#top-a, #top-b{margin-bottom: 10px;}

	/*showcase*/
	#showcase{ margin: 0 5px; overflow: hidden;}
	.header-content{display:inline-block; text-shadow: 1px 1px 2px #202020; top: 0; overflow: visible; z-index: 1; color: #FFFFFF;
	margin: 40px 20px 12px 5px;
	padding: 15px 0;
	position: relative;	}

	.hidden-img {
	    position: absolute;
	    right: -70px;
	    margin: 9px 50px 0 0;
	    top: 0;
	}

	#showcase .hidden-img {margin: -45px 50px 0 0;}
	img.static {position: relative; margin: -185px 0px -55px;}
	.module-title{font-size: 24px; padding-bottom: 15px;}
	.header-content .module-title{font-size: 30px;}
	
	.frontend .module-title { padding-bottom: 0 }
	.frontend{
		padding-top: 45px;
		padding-left: 20px;
	}
	.frontend .module-title{
		display: block;
	    font-size: 56px;
	    line-height: 100%;
	    text-shadow: 0 0 2px #000000;
	}
	.frontend p.show-text{
		display: block;
	    line-height: 1.6em;
	    margin-bottom: 15px;
	    padding-top: 15px;
	}

	.show-title{line-height: 90%; font-size: 140px; visibility: hidden; margin: 0; position: absolute; text-shadow: none;}
	.show-text{font-size: 14px; line-height: 1.5;}

	#searchbox input{
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}

	.spot-on .image-wrap {
		-webkit-border-radius: 50em;
		-moz-border-radius: 50em;
		-ms-border-radius: 50em;
		-o-border-radius: 50em;
		border-radius: 50em;

		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
		-ms-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
		-o-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
		box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
		border: 5px solid #777;
	}

	img.spot-on {
		       -webkit-border-radius: 100px;
	          -moz-border-radius: 100px;
	           -ms-border-radius: 100px;
	            -o-border-radius: 100px;
	               border-radius: 100px;
	               	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
	       border: 1px solid transparent;
	}
	img.spot-on:hover {
		filter: alpha(opacity=90);
		     -khtml-opacity: .90;
		       -moz-opacity: .90;
		            opacity: .90;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
	   border: 1px solid rgba(255,255,255,0.4);
}

	.footer-overlay-bottom {
	-webkit-box-shadow: 0 1px 15px rgba(255,255,255,0.1), 0 -5px 20px rgba(0,0,0,0.3) inset;
	   -moz-box-shadow: 0 1px 15px rgba(255,255,255,0.1), 0 -5px 20px rgba(0,0,0,0.3) inset;
	   -ms-box-shadow: 0 1px 15px rgba(255,255,255,0.1), 0 -5px 20px rgba(0,0,0,0.3) inset;
	   -o-box-shadow: 0 1px 15px rgba(255,255,255,0.1), 0 -5px 20px rgba(0,0,0,0.3) inset;
	        box-shadow: 0 1px 15px rgba(255,255,255,0.1), 0 -5px 20px rgba(0,0,0,0.3) inset;
	left: 0; right: 0; padding-bottom: 10px;}

	.footer-overlay-bottom p{color: #101010; margin: -9px 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1)}
	.footer-overlay-bottom a{color: #808080; text-shadow: none}
	.footer-overlay-bottom a:hover{color: #FFF;}
	.bg-light #toTop{background: url(../img/back-to-top-light.png) no-repeat scroll left top transparent;}
	.bg-dark #toTop{background: url(../img/back-to-top-dark.png) no-repeat scroll left top transparent;}
	#toTop { border: medium none;    bottom: 0;    display: none;    height: 75px;    overflow: hidden;    position: fixed;    right: 28px;   text-decoration: none;    text-indent: -999px;    width: 50px; z-index: 1;}
	#toTopHover {display: block;    float: left;    height: 75px;    opacity: 0;    overflow: hidden;    width: 50px;}
	#toTop:active, #toTop:focus { outline: medium none;}


	/*dropcaps / block numbers/dates */
	.event{display: block; margin: 5px 0 20px}
	.event-time .date, .block-number .digit{font-size: 2rem; font-size: 20px; padding: 9px 10px 25px; line-height: 1;}
	.event-time .month, .block-number .bottom{display: block; text-align: center;text-transform: uppercase; -moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px; -ms-border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px; text-shadow: none; border-width: 1px 0 0; border-style: solid; font-size: 11px; color: #FFFFFF;}

	.block-number .bottom{height: 6px}
	.event-time, .block-number{display:block; float:left; height:auto; margin: 5px 15px 5px 0 !important; padding-top:7px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; color:#808080; border: 1px solid #FFFFFF;
	border-color: #c0c0c0 #888888 #888888 #c0c0c0;
	text-shadow: 0 1px rgba(255, 255, 255, 1); color: #444444 !important;
	-moz-box-shadow: 0 -1px 1px #ffffff inset;
	-webkit-box-shadow: 0 -1px 1px #ffffff inset;
	-ms-box-shadow: 0 -1px 1px #ffffff inset;
	-o-box-shadow: 0 -1px 1px #ffffff inset;
	box-shadow: 0 -1px 1px #ffffff inset;}

	.event {
	    display: block;
	    margin: 5px 0 20px;
	}


	/** form-skinning **/
	fieldset.w50{width: 50%; float: left}
	fieldset.w50 input{width: 80%}
	fieldset.w50 .date-fld{width: 62%; text-align: left !important;}
	fieldset.w50 label{width: 90%}

	form.jqtransformdone label{margin-top:4px;	margin-right: 8px;	float:left;}
	form.jqtransformdone .column label{display: block;  height: 19px; margin-right: 8px;  margin-top: 4px;}
	form.jqtransformdone div.rowElem{	clear:both;	padding:4px 0 0;}
	div.rowElem.cluster div{float: left; margin-right: 10px}
	form.jqtransformdone div.rowElem li{padding: 0; margin: 0}
	.rowElem.align-left .jqTransformRadio{float: left; min-height: 0}

	.jqTransformRadioWrapper {float: left;display:block;margin:0 4px;	margin-top:5px;}
	.jqTransformRadio {vertical-align: middle;	height: 19px;	width: 18px;	display:block;}
	span.jqTransformCheckboxWrapper{margin-right: 10px;	display:block;float:left;	margin-top:5px;}
	a.jqTransformCheckbox {vertical-align: middle;	height: 19px; width: 18px;	display:block; }
	.jqTransformSelectWrapper {	width: 45px;	position:relative; height: 31px; background: url(../../../images/typo/select_left.png) no-repeat top left; _background: url(../../../images/typo/select_left.gif) no-repeat top left; float:left;}

	.jqTransformSelectWrapper div span {font-size: 12px; float: none; position: absolute; white-space: nowrap; height: 31px; line-height: 15px; padding: 8px 0 0 7px; overflow: hidden;  }
	.jqTransformSelectWrapper ul a:hover{background-color:#EDEDED;	color: #333333;	}
	.jqTransformSelectWrapper ul a.selected, .jqTransformSelectWrapper ul a.selected:hover{border-color:#721C1D;  color:#FFFFFF;  text-shadow:none;}
	.jqTransformSelectWrapper ul a.selected {border-width: 1px; border-style: solid;	color: #FFFFFF; text-shadow: none !important}
	.jqTransformRadio {background: transparent url(../images/inputs.png) no-repeat 0 top !important;}
	a.jqTransformCheckbox {background: transparent url(../images/inputs.png) no-repeat -15px top !important;}
	.jqTransformRadio.jqTransformChecked { background-position: 0 -19px !important;}
	.jqTransformCheckbox.jqTransformChecked { background-position: -15px -19px !important;}

	.jqTransformSelectWrapper  a.jqTransformSelectOpen {display: block; position: absolute; width: 31px; height: 31px; background: url(../../../images/typo/select_right.png) no-repeat center center; _background: url(../../../images/typo/select_right.gif) no-repeat center center;
		right: -3px}
	.jqTransformSelectWrapper ul {position: absolute; 	width: 43px; 	top: 30px; 	left: 0; list-style: none; 	background-color: #FFF; border: solid 1px #CCC; display: none; margin: 0; padding: 0; height: 150px; overflow: auto; overflow-y: auto;	z-index: 11; zoom: 1;}
	.jqTransformSelectWrapper ul a {display: block; 	padding: 5px; 	text-decoration: none; color:#333; 	background-color: #FFF; 	font-size: 12px; }
	.jqTransformHidden {display: none;}

	.footer-body .module-title{text-shadow: 0 -3px 1px #000000;}
	.footer-body .module-title .color{color: #FFF;}


	/*gk tabs -- Style 2*/
	ul.gkTabs{border-width: 0 0 5px 0 !important; border-style: solid; height: 51px; overflow: hidden;}
	ul.gkTabs li{line-height: 50px !important; font-weight: normal; font-size: 17px; 
	    background: url(../../../images/body/bg-white.png) repeat-x scroll 0 0 #DEDEDE !important;
	    -webkit-border-radius: 2px 2px 0 0;
	       -moz-border-radius: 2px 2px 0 0;
	        -ms-border-radius: 2px 2px 0 0;
	         -o-border-radius: 2px 2px 0 0;
	            border-radius: 2px 2px 0 0;
	    border-style: solid solid none !important;
	    border-width: 1px 1px 0 !important;
	    border-color: #BABABA !important;
	    box-shadow: 0 1px 2px #FFFFFF inset !important;
	    color: #202020 !important; 
	    font-size: 17px;
	    margin: 0 3px !important;
	}

	ul.gkTabs li:hover{background: #EEEEEE !important; color: #202020 !important;}
	ul.gkTabs li.active, ul.gkTabs li.active:hover{background: #451211 url(../../../images/body/bg-gradient.png) repeat-x 0 0 !important; color: #FFF !important; box-shadow: none !important;}
	ul.gkTabs li.active{text-shadow: none !important; }
	.gkTabItem{background: url(../../../images/body/bg-white-large.png) repeat-x scroll 0 0 #F2F2F2; padding: 20px;
		-webkit-box-shadow: 0 1px 2px #FFFFFF inset, 0 0 1px #BABABA;
		   -moz-box-shadow: 0 1px 2px #FFFFFF inset, 0 0 1px #BABABA;
		        box-shadow: 0 1px 2px #FFFFFF inset, 0 0 1px #BABABA;
		        border-color: #FFFFFF;
			    border-radius: 0 0 5px 5px;
			    border-style: solid;
			    border-width: 1px;
			    width: auto; height: auto;
	}


	/*multimedia*/
	.mejs-controls .mejs-time-rail .mejs-time-loaded{
		background: url(../../../images/widget/player-track.png) repeat-x scroll 0 0 #404040;}