/* Author Name: arrowthemes http://themeforest.net/user/arrowthemes  Version: 1.0 */

@import url(base_menus.css);


/* Mega Drop-Down Menu
----------------------------------------------------------------------------------------------------*/

	/* Level 1 */
	.menu-dropdown { margin-bottom: 0px; margin-left: 3px;}

	.menu-dropdown li.level1 {
		margin-right: 4px;
		margin-bottom: 0;
	}

	.menu-dropdown li.level1{
		margin-top: 5px;
	}

	.menu-dropdown > li:before {
	    content: " ";
	    display: block;
	    height: 52px;
	    left: -2px;
	    position: absolute;
	    top: 0;
	    width: 0;
	}

	.menu-dropdown a.level1,
	.menu-dropdown span.level1 {
		border: 0 none;
		color: #FFF;
		text-shadow: none;
	}

	.menu-dropdown a.level1 > span,
	.menu-dropdown span.level1 > span {
		height: 28px;
		line-height: 24px;
		padding: 10px 20px 10px 10px;
		font-size: 17px;
	}

	.menu-dropdown li.level1 a{
		padding-left: 10px; 
		height: 42px;}

	/* Set Active */
	.menu-dropdown li.active a { 
		height: 42px;
	 }

	/* Set Hover */
	.menu-dropdown li.level1:hover a {
	}

	.menu-dropdown li.level1.active, .menu-dropdown li.level1:hover, .menu-dropdown li.remain
	{	
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		    -ms-border-radius: 3px;
		     -o-border-radius: 3px;
		        border-radius: 3px;
		border-bottom: 1px solid #000;
		-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
		   -moz-box-shadow: 0 0 2px rgba(0,0,0,0.4);
		        box-shadow: 0 0 2px rgba(0,0,0,0.4);

	}

	.hide-m-overlay .menu-dropdown li.level1.active, .hide-m-overlay .menu-dropdown li.level1:hover{background-image: none;}

	.menu-dropdown span.level2 > span
	{
		border-color: rgba(0, 0, 0, 0.4);
		border-bottom-color: rgba(255, 255, 255, 0.03);
		border-style: solid;
		border-width: 0 1px 1px;
	    padding: 5px 10px;
	    background: url(../images/body/menu-li-sep.png) 0 0 repeat-x #303030;
	    text-transform: uppercase;
	    -webkit-border-radius: 3px;
	       -moz-border-radius: 3px;
	        -ms-border-radius: 3px;
	         -o-border-radius: 3px;
	            border-radius: 3px;
	    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.3) inset;
	       -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.3) inset;
	            box-shadow: 0 -1px 2px rgba(0,0,0,.3) inset;
	    margin-bottom: 3px;
	}

	.menu-dropdown span.level2 > span .subtitle {text-transform: lowercase !important;}
	.menu-dropdown span.icon{background-position: 50% 100%;}
	/* Drop-Down */
	.menu-dropdown .dropdown {
		top: 48px;
	}

	.menu-dropdown .dropdown-bg > div {
		padding: 0;
		border-width: 0 1px 2px;
		border-style: solid;
		-webkit-border-radius: 0 0 4px 4px;
		   -moz-border-radius: 0 0 4px 4px;
		    -ms-border-radius: 0 0 4px 4px;
		     -o-border-radius: 0 0 4px 4px;
		        border-radius: 0 0 4px 4px;
		-webkit-box-shadow: 0 -1px 2px rgba(255,255,255,.1) inset;
		   -moz-box-shadow: 0 -1px 2px rgba(255,255,255,.1) inset;
		        box-shadow: 0 -1px 2px rgba(255,255,255,.1) inset;
	}

	.menu-dropdown .dropdown-bg div.column {padding: 4px 0}
	.dropdown-bg div ul.level2{padding: 7px; margin: -4px -1px -4px 0;}

	.menu-dropdown .dropdown-bg div.width50 ul.level2, 
	.menu-dropdown .dropdown-bg div.width33 ul.level2, 
	.menu-dropdown .dropdown-bg div.width25 ul.level2
	{
		border-right: 1px solid rgba(0,0,0, 0.5);
		-webkit-box-shadow: 1px 0 0 rgba(255,255,255,.1);
		   -moz-box-shadow: 1px 0 0 rgba(255,255,255,.1);
		        box-shadow: 1px 0 0 rgba(255,255,255,.1);	        
	}


	/* Level 2 */
	.menu-dropdown a.level2, .menu-dropdown a.level3{border: 1px solid transparent;} 
	.menu-dropdown li.level2 a{
		padding-left: 10px; 
		height: auto; 
		box-shadow: none !important;}

	.menu-dropdown li.level2 { 
		margin: 0;
	}
	.menu-dropdown li.level2:first-child { border-top: none; }

	.menu-dropdown a.level2,
	.menu-dropdown span.level2 { color: #FFF; text-shadow:none;}

	.menu-dropdown span.subtitle{
		font-size: 10px; 
		margin-bottom:5px;
	 	line-height: 13px;
	 	padding-right: 10px;
	 }

	.menu-dropdown li.level3 {
	    font-size: 11px;
	    padding-left: 8px;
	    line-height: 17px;
	}

	.menu-dropdown li.level3 a {margin-right: 8px;}

	/* Set Hover */
	.menu-dropdown a.level2:hover, .menu-dropdown a.level3:hover, 
	.menu-dropdown a.current.level2, .menu-dropdown a.current.level3
	{

		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		    -ms-border-radius: 3px;
		     -o-border-radius: 3px;
		        border-radius: 3px;
	}

	.hide-m-overlay .menu-dropdown a.level2:hover,.hide-m-overlay  .menu-dropdown a.level3:hover, 
	.hide-m-overlay .menu-dropdown a.current.level2,.hide-m-overlay  .menu-dropdown a.current.level3{background-image: none;}
	.menu-dropdown li.level2:hover a {box-shadow: none !important;}

	.menu-dropdown a.level2:hover, .menu-dropdown a.level3:hover { color: #FFF; text-shadow: none; }

	/* Set Current */
	.menu-dropdown a.current.level2 { font-weight: normal; text-shadow: none} 

	/* Set Hover */
	.menu-dropdown a.level3,
	.menu-dropdown a.level3:hover
	 { color: #FFF; text-shadow: none; }

	/* Set Current */
	.menu-dropdown a.current.level3 { font-weight: normal;} 

	/* Icons */
	.menu-dropdown .level1 .level1 span.icon {
		width: 30px;
		height: 30px;
		margin-left: -5px;
	}
	.menu-dropdown .level1 .level1 span.icon + span,
	.menu-dropdown .level1 .level1 span.icon + span + span { margin-left: 25px; }

	.menu-dropdown li.level2 .level2 span.icon { margin-right: 4px; }

	.menu-dropdown li.level2 .level2 span.icon + span,
	.menu-dropdown li.level2 .level2 span.icon + span + span { margin-left: 39px; }

	/* Subtitles */
	.menu-dropdown .level1 .level1 span.title { line-height: 18px; font-size: 12px;}
	.menu-dropdown .level1 .level1 span.subtitle { margin-top: -1px; line-height: 15px; font-size: 10px;}


	/* Sidebar/Accordion Menu
	----------------------------------------------------------------------------------------------------*/

	/* Link */
	.menu-sidebar a,
	.menu-sidebar li > span { color: #444; }
	#bottom-c .menu-sidebar a,
	#bottom-c .menu-sidebar li > span { color: #FFF; }

	/* Hover */
	.menu-sidebar a:hover,
	.menu-sidebar li > span:hover { color: #d50; }

	/* Current */
	.menu-sidebar a.current { font-weight: bold; }

	/* Level 1 */
	.menu-sidebar li.level1 { border-top: 1px solid #ddd; }
	.menu-sidebar li.level1:first-child { border-top: none; }

	.menu-sidebar li.parent .level1 > span { background: url(../images/menu_sidebar_parent.png) 100% 0 no-repeat; }
	.menu-sidebar li.parent.active .level1 > span { background-position: 100% -100px; }

	/* Level 2-4 */
	.menu-sidebar ul.level2 ul { padding-left: 10px; }

	/* Icons */
	.menu-sidebar span.icon { margin-right: 4px; }


	/* Line Menu
	----------------------------------------------------------------------------------------------------*/

	.menu-line li {
		margin-left: 7px;
		padding-left: 8px;
	}

	.menu-line li:first-child {
		margin-left: 0;
		padding-left: 0;
		background: none;
	}