/* Author Name: arrowthemes http://themeforest.net/user/arrowthemes  Version: 1.0 */

@import url(base_modules.css);



/* General
----------------------------------------------------------------------------------------------------*/

/*body text-shadow*/

.ts-none{text-shadow: none;}
.ts-light{text-shadow: 0 1px 0 rgba(255,255,255,.75);}
.ts-dark{text-shadow: 0 1px 0 rgba(0,0,0,.75);}

/* Module Badges
----------------------------------------------------------------------------------------------------*/

    .module .badge {
    	width: 45px;
    	height: 45px;
    	background-image: url(../images/widget/module_badges.png);
    	background-repeat: no-repeat;
    }

    .module.badge-hot, .module.badge-top, .module.badge-free, .module.badge-new{
    	padding: 20px; margin: 20px 15px; border: 1px solid #FFFFFF;  
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
            -ms-border-radius: 4px;
             -o-border-radius: 4px;
                border-radius: 4px;
    		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    		-ms-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    		-o-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    		box-shadow: 0 2px 5px rgba(0,0,0,0.15);} 
    }

    .module .badge-hot { background-position: 0 0;}
    .module .badge-new { background-position: 0 -46px;}
    .module .badge-free { background-position: 0 -92px;}
    .module .badge-top { background-position: 0 -138px;}

    #sidebar-a .module .module-title .icon, 
    #sidebar-b .module .module-title .icon
    {top: 7px;}


/* Module Icons
----------------------------------------------------------------------------------------------------*/

    .module .module-title .icon { background: url(../images/module_icons.png) 0 0 no-repeat; }
    .module .module-title .icon-download { background-position: 0 0; }
    .module .module-title .icon-twitter { background-position: 0 -30px; }
    .module .module-title .icon-mail { background-position: 0 -60px; }
    .module .module-title .icon-bubble { background-position: 0 -90px; }
    .module .module-title .icon-login { background-position: 0 -120px; }
    .module .module-title .icon-cart { background-position: 0 -150px; }
    
    .wk-twitter-single .content{
        font-family: georgia, "Times New Roman",Times,serif;
        font-size: 18px;
        line-height: 30px;
    }

    .wk-twitter-single p {
    font-style: normal;
    }

/* Search module
----------------------------------------------------------------------------------------------------*/
    .bg-light #searchbox{border: 1px solid #959595; -moz-box-shadow: 0 1px 0 rgba(255,255,255,.1); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1); -ms-box-shadow: 0 1px 0 rgba(255,255,255,.1); -o-box-shadow: 0 1px 0 rgba(255,255,255,.1); box-shadow: 0 1px 0 rgba(255,255,255,.1); background-color: #FFFFFF }
    .bg-light #searchbox:hover{background-color: #FEFEFE;}
    .bg-light #searchbox:focus{background-color: #FFFFFF;}

    .bg-dark #searchbox{color: #FFFFFF; border: 1px solid #000; 
    -moz-box-shadow: 0 0 5px #000000 inset, 1px 1px 0 rgba(255,255,255, 0.1);
    -webkit-box-shadow: 0 0 5px #000000 inset, 1px 1px 0 rgba(255,255,255, 0.1);
    -ms-box-shadow: 0 0 5px #000000 inset, 1px 1px 0 rgba(255,255,255, 0.1);
    -o-box-shadow: 0 0 5px #000000 inset, 1px 1px 0 rgba(255,255,255, 0.1);
    box-shadow: 0 0 5px #000000 inset, 1px 1px 0 rgba(255,255,255, 0.1);
    background-color: #202020;}

    .bg-dark #searchbox ul li{color: #404040;}
    .bg-dark #searchbox:hover{background-color: #303030;}
    .bg-dark #searchbox:focus{background-color: #404040;}

/* Module Type: Box
----------------------------------------------------------------------------------------------------*/

    .mod-box {
    	padding: 15px 10px;
    }
    #sidebar-a .mod-box,
    #sidebar-b .mod-box {
        padding: 5px 10px 0;
    }

    .mod-box .badge { 
        top: -1px; 
        right: -1px;
    }
    .mod-box.slogan{padding: 5px 10px}

    #top-a .module-title, 
    #top-b .module-title, 
    #innerbottom .module-title,
    #innertop .module-title
    {
        background: url(../images/body/mod-dot.png) repeat-x scroll left bottom transparent;
    }

    #bottom-a .module-title, 
    #bottom-b .module-title{

    }


/* Module Type: styled modules
----------------------------------------------------------------------------------------------------*/

    .mod-color, .mod-white, .mod-dark{
        margin-bottom: 15px; 
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;  
        box-sizing: border-box;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;}


    .mod-color p, .mod-white p, .mod-dark p {margin: 5px; }
    .mod-color .module-title, .mod-white .module-title, .mod-dark .module-title{background: none !important; margin: 5px;}
    a.h-effect{
        left:0; 
        overflow: hidden; 
        position: relative; 
        display: block; 
        margin:0 -15px 10px; 
        padding: 0 !important; 
        line-height: 0;
        -moz-box-shadow: 0 1px 5px #C0C0C0;
        -webkit-box-shadow: 0 1px 5px #C0C0C0;
        -ms-box-shadow: 0 1px 5px #C0C0C0;
        -o-box-shadow: 0 1px 5px #C0C0C0;
        box-shadow: 0 1px 5px #C0C0C0;}

    a.h-effect .detail{
        height: 580px; 
        width: 768px; 
        position: absolute; 
        top: 0; 
        left: 0; 
        display: block; }

    .color-content{
        padding: 0; 
        overflow: hidden; 
        position: relative; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
        -ms-border-radius: 5px; 
        -o-border-radius: 5px; 
        border-radius: 5px;}

    .color-content p, .color-content h3{padding: 12px 15px 10px}
    .color-content .button{margin: 10px 1px 4px 0;}
    .mod-color{text-shadow: none;
     background-image: url(../images/body/mod-block.png);
     background-repeat: no-repeat;
     background-position: 0 0;
    -moz-box-shadow: 0 0 1px #FFF inset;
    -webkit-box-shadow: 0 0 1px #FFF inset;
    -ms-box-shadow: 0 0 1px #FFF inset;
    -o-box-shadow: 0 0 1px #FFF inset;
    box-shadow: 0 0 1px #FFF inset;}

    .mod-color, .mod-white, .mod-dark{overflow: hidden}
    .mod-color h3{color: #FFFFFF !important; text-shadow: none !important}
    .mod-color h3 strong{color: #C0C0C0 !important;}
    .mod-color a.h-effect{
    -moz-box-shadow: 0 1px 5px #1F3B49;
    -webkit-box-shadow: 0 1px 5px #1F3B49;
    -ms-box-shadow: 0 1px 5px #1F3B49;
    -o-box-shadow: 0 1px 5px #1F3B49;
    box-shadow: 0 1px 5px #1F3B49;}

    .mod-white{background: #FFFFFF; border: 1px solid #E4E4E4;} 
    .mod-dark{background: #404040; color: #f0f0f0; border: 1px solid #202020; text-shadow: none;
    -moz-box-shadow: 0 0 1px #c0c0c0 inset;
    -webkit-box-shadow: 0 0 1px #c0c0c0 inset;
    -ms-box-shadow: 0 0 1px #c0c0c0 inset;
    -o-box-shadow: 0 0 1px #c0c0c0 inset;
    box-shadow: 0 0 1px #c0c0c0 inset;}

    .mod-dark h3{color: #FFFFFF !important; text-shadow: none; }
    .mod-dark h3 strong{color: #808080 !important;}
    .mod-dark a.h-effect{
    -moz-box-shadow: 0 1px 5px #000000;
    -webkit-box-shadow: 0 1px 5px #000000;
    -ms-box-shadow: 0 1px 5px #000000;
    -o-box-shadow: 0 1px 5px #000000;
    box-shadow: 0 1px 5px #000000;}

    .latest{
    margin: 4px 10px 6px 0;
    width: 48px;
    height: 48px;
    }

    /*sidebar a*/
    #sidebar-a .module-title {
        background: url(../img/mod-dot.png) repeat-x scroll center bottom transparent;
        line-height: 38px;
        padding: 0 0 5px 0;
        white-space: pre-wrap;
        margin-left: 0px;
    }

    /*sidebar b*/
    #sidebar-b .module-title {
        background: url(../img/mod-dot.png) repeat-x scroll center bottom transparent;
        line-height: 38px;
        padding: 0 0 5px;
        white-space: pre-wrap;
        margin-right: 0px;
    }

    #content header {
        background: url(../img/mod-dot.png) repeat-x scroll center bottom transparent;
        padding-bottom: 2px;
        padding-top: 15px;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    #content .yoo-zoo header{
        margin-left: 0;
        background: url(../img/mod-dot.png) repeat-x scroll 0 100% transparent;
    }

    /*header texture*/
    .head_texture_0, .bottom_texture_0, .footer_texture_0{background: none #2C2C2C;}
    .boxed .no-header{filter: none !important;}
    .no-header, .no-header .header-glare{background: none !important;}
    .bg_texture_12, .head_texture_1, .bottom_texture_1, .footer_texture_1{background: url(../img/texture/12.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_13, .head_texture_2, .bottom_texture_2, .footer_texture_2{background: url(../img/texture/13.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_14, .head_texture_3, .bottom_texture_3, .footer_texture_3{background: url(../img/texture/14.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_15, .head_texture_4, .bottom_texture_4, .footer_texture_4{background: url(../img/texture/15.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_16, .head_texture_5, .bottom_texture_5, .footer_texture_5{background: url(../img/texture/16.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_17, .head_texture_6, .bottom_texture_6, .footer_texture_6{background: url(../img/texture/17.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_18, .head_texture_7, .bottom_texture_7, .footer_texture_7{background: url(../img/texture/18.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_19, .head_texture_8, .bottom_texture_8, .footer_texture_8{background: url(../img/texture/19.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_20, .head_texture_9, .bottom_texture_9, .footer_texture_9{background: url(../img/texture/20.jpg) repeat scroll top left #2C2C2C;}
    .bg_texture_21, .head_texture_10, .bottom_texture_10, .footer_texture_10{background: url(../img/texture/21.jpg) repeat scroll top left #7F3F00;}
    .bg_texture_22, .head_texture_11, .bottom_texture_11, .footer_texture_11{background: url(../img/texture/22.jpg) repeat scroll top left #2E2E2E;}
    .bg_texture_23, .head_texture_12, .bottom_texture_12, .footer_texture_12{background: url(../img/texture/23.jpg) repeat scroll top left #272324;}
    .bg_texture_24, .head_texture_13, .bottom_texture_13, .footer_texture_13{background: url(../img/texture/24.jpg) repeat scroll top left #272324;}
    .bg_texture_25, .head_texture_14, .mid_texture_12, .content_texture_12{background: url(../img/texture/25.png) repeat scroll top left #f2f2f2;}

    /*header overlay*/
    .header-overlay, .box-overlay{position: relative; }
    .head_overlay_0{ background: none transparent; }
    .head_overlay_1{ background: url(../img/1.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_2{ background: url(../img/2.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_3{ background: url(../img/3.png) no-repeat scroll 0 50% transparent; }
    .head_overlay_4{ background: url(../img/4.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_5{ background: url(../img/5.png) no-repeat scroll 70% 100% transparent; }
    .head_overlay_6{ background: url(../img/6.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_7{ background: url(../img/7.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_8{ background: url(../img/8.png) no-repeat scroll 0 50% transparent; }
    .head_overlay_9{ background: url(../img/9.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_10{ background: url(../img/10.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_11{ background: url(../img/11.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_12{ background: url(../img/6.png) no-repeat scroll 50% 0 transparent; }
    .head_overlay_13{ background: url(../img/13.png) no-repeat scroll 50% 0 transparent; }
    .boxed .header-overlay{background: none }

    /*spotlight*/
    .sp-dark .header-glare, .sp-dark .box-glare{background: url(../img/spotlight-dark.svg) 50% 50%; background-size: 100% 100%;}
    .sp-light .header-glare, .sp-light .box-glare{background: url(../img/spotlight-light.svg) 50% 50%; background-size: 100% 100%;}
    .sp-none .header-glare, .sp-none .box-glare{background: none}

    /*background texture*/

    /*body background textures*/
    .bg_texture_0{background-image: none;}
    .bg_texture_1, .content_texture_1, .mid_texture_1{background: url(../img/texture/1.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_2, .content_texture_2, .mid_texture_2{background: url(../img/texture/2.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_3, .content_texture_3, .mid_texture_3{background: url(../img/texture/3.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_4, .content_texture_4, .mid_texture_4{background: url(../img/texture/4.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_5, .content_texture_5, .mid_texture_5{background: url(../img/texture/5.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_6, .content_texture_6, .mid_texture_6{background: url(../img/texture/6.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_7, .content_texture_7, .mid_texture_7{background: url(../img/texture/7.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_8, .content_texture_8, .mid_texture_8{background: url(../img/texture/8.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_9, .content_texture_9, .mid_texture_9{background: url(../img/texture/9.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_10, .content_texture_10, .mid_texture_10{background: url(../img/texture/10.jpg) repeat scroll top left #F2F2F2;}
    .bg_texture_11, .content_texture_11, .mid_texture_11{background: url(../img/texture/11.jpg) repeat scroll top left #F2F2F2;}

    /*mid background textures*/
    .mid_texture_0, .content_texture_0{background: none #F2F2F2;}
    .content_texture_t{background: none}

    /*mid background textures*/
    .footer_texture_0{background: none #F2F2F2;}

    #content .width50 header{
        margin-left: 0px;
        background-position: 90% 100%
    }

    #content .width33 header{
        margin-left: 0px;
        background-position: 90% 100%
    }

    /*title*/
    #system .item h3{
        padding-bottom: 15px;
    }

    #system .title{
    	padding-left: 0;
    }

    #system .width50 .title{
        padding-left: 0;
    }

    #system h1.title{
        padding-left: 0; 
        background: url(../images/body/mod-dot.png) repeat-x scroll 0 100% transparent; 
        padding-bottom: 13px;
    }

    .yoo-zoo h1.title{
        background: none !important;
        padding-bottom: 0 !important;
    }
    
    #system .contact-head{
        margin-top: -25px;
    }

    #system .contact-head h3{
        padding-bottom: 0;
    }

    /*login*/
    #newsletter .module {margin: 0 10px 10px;}
    #newsletter .module-title{
        color: #FFF;
        background-image: url(../images/body/bg-gradient.png);
        background-repeat: repeat-x 0 0; 
    }

    #newsletter{
        margin: 0;
        border-bottom: 1px solid #000000;
    }

    #newsletter .module-title{
        float: left;
        padding: 20px;
        line-height: 30px;
        margin: 1px 0 -10px -9px;
    }

    #newsletter p{
        line-height: 37px;
        margin-left: 10px;
        display: inline-block;
    }


    #newsletter .acymailing_form p{
        float: left;
        position: relative;
        top: 7px;
    }

    #newsletter p.acysubbuttons {
        line-height: 0;
        margin-left: 20px;
        position: relative;
        right: 5px;
        top: 4px;
    }

    div.responseContainer{
        background-color: transparent;
        color: #FFF;
        padding: 0 !important;
        margin: 0 !important;
        position: relative;
        display: block;
        top: 22px;
        left: 11px;
        height: 0 !important;
    }

    .section-title {
        border-radius: 4px 0 0 0;
        font-size: 24px;
        height: 38px;
        margin-left: 1px !important;
        margin-top: 1px;
        padding: 21px 18px 0;
        text-shadow: none;
    }

    /*lightbox*/
    #lightbox-title-float, .wk-slideshow .caption, .wk-slideshow .caption a{text-shadow: none;}

    /*slideshow*/
    .caption h2, .caption h3{color: #FFF !important;}
    .caption h2{font-size: 35px;}

    /*newsletter*/
    .acymailing_form {float: right;}

    .acymailing_introtext{
        left: 15px;
        position: relative;
        top: 23px;
    }

    .postcontent-title .t {
        line-height: 45px;
        padding: 0 0 10px 20px;
        white-space: pre-wrap;
    }

    #bottom-c{
        margin: 0;
        padding: 10px 0;
    }

    .footer-body{
        position:relative; color: #FFFFFF; text-shadow: none; display: table;
    }

    .footer-overlay {
        background: url(../images/body/footer-ov.png) repeat-x scroll 0 0 transparent;
        height: 60px;
        margin-top: -60px;
        width: 100%;
    }

    .footer-overlay-bottom .overlay-shadow{
        background: url(../images/body/footer-shadow.png) no-repeat scroll 100% 100% transparent; height: 44px; margin-top: -22px; max-width: 100%
    }


    #system #comments .comment-head .author{
        font-weight: normal;
    }


    /** begin vertical-menu 
    -------------------------------------**/

    /*dark version*/
    .vm-dark .vmenu, .vm-dark .vmenu ul{list-style: none;  display: block;}
    .vm-dark .vmenu, .vm-dark .vmenu li{display: block;  margin: 0;   padding: 0;   width: auto;   line-height: 0;}
    .sidebar-l .vm-dark .vmenu{margin: 0 20px 0 0}
    .sidebar-r .vm-dark .vmenu{margin: 0 0 0 20px}
    .vm-dark .vmenu ul{ display: none;   margin: 0;   padding: 0;   position:relative;}
    .vm-dark .vmenu ul.active{ display: block;}

    /* Main menu item */
    .vm-dark .vmenu a {display: block;   z-index:0;   text-decoration: none;   font-style: normal;   font-weight: normal;  margin-left:0;   margin-right:0;   position:relative; text-shadow: none;}
    .vm-dark .vmenu li{position:relative;}
    .vm-dark .vmenu>li>a {padding: 0 21px 0 21px;   height: 45px;   line-height: 45px !important;   white-space: nowrap;   border-style: none solid;   border-width: 0 1px;   margin-top: 1px;   margin-bottom: 1px;   border-color: #232323;   text-shadow: none;}
    .vm-dark .vmenu>li>a.active { text-shadow: none;}
    .vm-dark .vmenu a:hover, .vm-dark .vmenu a.active:hover { text-shadow: none}
    .vm-dark .vmenu>li>a:before, .vm-dark .vmenu>li>a:after, .vm-dark .vmenu>li>a>span.vmenu-l, .vm-dark .vmenu>li>a>span.vmenu-r {position: absolute;   display: block;   content: ' ';   z-index:-1;   background-image: url(../images/body/vmenuitem-dark.png);   top:0;   height:45px; }
    .vm-dark .vmenu>li>a:before{left: 0;   right: 16px;   background-position: top left;}
    .vm-dark .vmenu>li>a:after{width: 16px;   right: 0;   background-position: top right;}
    .vm-dark .vmenu>li>a.active:before {background-position: bottom left;}
    .vm-dark .vmenu>li>a.active:after {background-position: bottom right;}
    .vm-dark .vmenu>li>a:hover:before  {background-position: center left;}
    .vm-dark .vmenu>li>a:hover:after {background-position: center right;}
    .vm-dark .vmenu>li>a.active:before, .vm-dark .vmenu>li>a.active:after, .vm-dark .vmenu>li>a:hover:before, .vm-dark .vmenu>li>a:hover:after {-moz-box-shadow: none;-webkit-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;}
    .vm-dark .vmenu>li{margin-top:0;}
    .vm-dark .vmenu>li>ul{margin-top:0;  padding-bottom: 0;}
    .vm-dark .vmenu>li:first-child{margin-top:0;}
    .vm-dark .vmenu>li>a>span.border-top, .vm-dark .vmenu>li>a>span.border-bottom{display: block;   position: absolute;   content: ' ';   left: -1px;   right: -1px;   height: 1px;   background-color: transparent;   z-index: -1;}
    .vm-dark .vmenu>li>a>span.border-top {top: -1px;   background-color: #232323;}
    .vm-dark .vmenu>li>a>span.border-bottom {   bottom: -1px;   background-color: #232323;}
    .vm-dark .vmenu>li>a.active:hover {   border-color: #2B2B2B;}
    .vm-dark .vmenu>li>a.active:hover>span.border-top, .vm-dark .vmenu>li>a.active:hover>span.border-bottom {background-color: transparent;}
    .vm-dark .vmenu>li>a.active:hover>span.border-top, .vm-dark .vmenu>li>a.active:hover>span.border-bottom {background-color: #2B2B2B;   z-index: 1;}
    .vm-dark .vmenu>li>a.active>span.border-top, .vm-dark .vmenu>li>a.active>span.border-bottom {z-index: 1;}
    .vm-dark .vmenu>li>a:hover { z-index: 2;}
    .vm-dark .vmenu>li>a:hover>span.border-top, .vm-dark .vmenu>li>a:hover>span.border-bottom {z-index: 2;}

    /* sub-menu item */
    .vm-dark .vmenu ul li{margin: 0;   padding: 0;}
    .vm-dark .vmenu li li, .vm-dark .vmenu li li a {   position:relative;}
    .vm-dark .vmenu ul a{display: block;   position:relative;   white-space: nowrap;   height: 32px;   overflow: visible;   background: url(../images/body/vsubitem-dark.png) repeat-x scroll top left transparent;  padding:0;   padding-left:38px;   padding-right:0;   line-height: 32px;   color: #0F1D24;   font-size: 12px;   margin-left: 0;   margin-right: 0;}
    .vm-dark .vmenu ul a.active{background-position: bottom left;}
    .vm-dark .vmenu ul a:hover{background-position: center left;   line-height: 32px;  font-size: 12px;   margin-left: 0;   margin-right: 0;}
    .vm-dark .vmenu ul li li a:hover, .vm-dark .vmenu ul li li a:hover.active{background-position: left center;}
    .vm-dark .vmenu ul a:after, .ie7 .vm-dark .vmenu ul a>span.vm-dark .vmenu-icon{display: block;   position:absolute;   top:13px;   content:' ';   width: 3px;   height: 5px;   overflow: visible;   background: url(../images/body/vsubitemicon-dark.png) no-repeat scroll top left; left:  25px;}
    .vm-dark .vmenu ul a:hover:after{background-position: center left}
    .vm-dark .vmenu ul a.active:hover:after{background-position: center left;}
    .vm-dark .vmenu ul a.active:after{background-position: bottom left;}
    .vm-dark .vmenu ul a:link, .vm-dark .vmenu ul a:active{line-height: 32px;   color: #FFFFFF; margin-left: 0;   margin-right: 0;   text-shadow: none;}
    .vm-dark .vmenu ul a:visited{color:#FFFFFF}
    .vm-dark .vmenu>li>ul>li:first-child{padding-top: 0;   margin-top:0;} 
    .vm-dark .vmenu li li{position:relative;  margin-top:0;}
    .vm-dark .vmenu ul ul a:after{left:50px;}
    .vm-dark .vmenu ul ul ul a:after{left:75px;}
    .vm-dark .vmenu ul ul ul ul a:after{left:100px;}
    .vm-dark .vmenu ul ul ul ul ul a:after{left:125px;}
    .vm-dark .vmenu ul ul a{padding-left:63px;}
    .vm-dark .vmenu ul ul ul a{padding-left:88px;}
    .vm-dark .vmenu ul ul ul ul a{padding-left:113px;}
    .vm-dark .vmenu ul ul ul ul ul a{padding-left:138px;}
    .vm-dark .vmenu ul li a:hover, .vm-dark .vmenu ul li a:hover.active {color: #FFFFFF;}
    .vm-dark .vmenu li li a {border: 1px solid transparent;   border-style: none solid;   border-width: 0 1px;   margin-top: 1px;   margin-bottom: 1px;   border-color: #2B2B2B}
    .vm-dark .vmenu li li a.active:hover {border-color: #2B2B2B;}
    .vm-dark .vmenu li li a span.border-top, .vm-dark .vmenu li li a span.border-bottom{   display: block;   position: absolute;   content: ' ';   left: -1px;   right: -1px;   height: 1px;background-color: transparent;  z-index: -1;}
    .vm-dark .vmenu li li a span.border-top {top: -1px;  background-color: #424242;}
    .vm-dark .vmenu li li a span.border-bottom {bottom: -1px; background-color: #424242;}
    .vm-dark .vmenu li li a.active:hover span.border-top, .vm-dark .vmenu li li a.active:hover span.border-bottom {background-color: transparent;}
    .vm-dark .vmenu li li a.active:hover span.border-top, .vm-dark .vmenu li li a.active:hover span.border-bottom {background-color: #424242;}
    .vm-dark .vmenu li li a.active {z-index: 1; text-shadow: none;}
    .vm-dark .vmenu li li a.active span.border-top, .vm-dark .vmenu li li a.active span.border-bottom {z-index: 1;}
    .vm-dark .vmenu li li a:hover {z-index: 2; text-shadow: none}
    .vm-dark .vmenu li li a:hover span.border-top, .vm-dark .vmenu li li a:hover span.border-bottom {z-index: 2;}


    /*light version*/
    .vm-light .vmenu, .vm-light .vmenu ul{list-style: none;  display: block;}
    .vm-light .vmenu, .vm-light .vmenu li{display: block;  margin: 0;   padding: 0;   width: auto;   line-height: 0;}
    .sidebar-l .vm-light .vmenu{margin: 0 20px 0 0}
    .sidebar-r .vm-light .vmenu{margin: 0 0 0 20px}
    .vm-light .vmenu ul{ display: none;   margin: 0;   padding: 0;   position:relative;}
    .vm-light .vmenu ul.active{ display: block;}

    /* Main menu item */
    .vm-light .vmenu a {display: block;   z-index:0;   text-decoration: none;   font-style: normal;   font-weight: normal;  margin-left:0;   margin-right:0;   position:relative; text-shadow: none;}
    .vm-light .vmenu li{position:relative;}
    .vm-light .vmenu>li>a {padding: 0 21px 0 21px;   height: 45px;   line-height: 45px !important;   white-space: nowrap;   border-style: none solid;   border-width: 0 1px;   margin-top: 1px;   margin-bottom: 1px;   border-color: #C7C7C7;   text-shadow: none;}
    .vm-light .vmenu>li>a.active {text-shadow: none;}
    .vm-light .vmenu a:hover, .vm-light .vmenu a.active:hover {text-shadow: none}
    .vm-light .vmenu>li>a:before, .vm-light .vmenu>li>a:after, .vm-light .vmenu>li>a>span.vmenu-l, .vm-light .vmenu>li>a>span.vmenu-r  {position: absolute;   display: block;   content: ' ';   z-index:-1;   background-image: url(../images/body/vmenuitem-light.png) !important;   top:0;   height:45px;}
    .vm-light .vmenu>li>a:before{left: 0;   right: 16px;   background-position: top left;}
    .vm-light .vmenu>li>a:after{width: 16px;   right: 0;   background-position: top right;}
    .vm-light .vmenu>li>a.active:before {background-position: bottom left;}
    .vm-light .vmenu>li>a.active:after {background-position: bottom right;}
    .vm-light .vmenu>li>a:hover:before  {background-position: center left;}
    .vm-light .vmenu>li>a:hover:after {background-position: center right;}
    .vm-light .vmenu>li>a.active:before, .vm-light .vmenu>li>a.active:after, .vm-light .vmenu>li>a:hover:before, .vm-light .vmenu>li>a:hover:after {-moz-box-shadow: none;-webkit-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;}
    .vm-light .vmenu>li{margin-top:0;}
    .vm-light .vmenu>li>ul{margin-top:0;  padding-bottom: 0;}
    .vm-light .vmenu>li:first-child{margin-top:0;}
    .vm-light .vmenu>li>a>span.border-top, .vm-light .vmenu>li>a>span.border-bottom{display: block;   position: absolute;   content: ' ';   left: -1px;   right: -1px;   height: 1px;   background-color: transparent;   z-index: -1;}
    .vm-light .vmenu>li>a>span.border-top {top: -1px;   background-color: #C7C7C7;}
    .vm-light .vmenu>li>a>span.border-bottom {   bottom: -1px;   background-color: #C7C7C7;}
    .vm-light .vmenu>li>a.active:hover>span.border-top, .vm-light .vmenu>li>a.active:hover>span.border-bottom {background-color: transparent;}
    .vm-light .vmenu>li>a.active:hover>span.border-top, .vm-light .vmenu>li>a.active:hover>span.border-bottom {   background-color: #C7C7C7;   z-index: 1;}
    .vm-light .vmenu>li>a.active>span.border-top, .vm-light .vmenu>li>a.active>span.border-bottom { z-index: 1;}
    .vm-light .vmenu>li>a:hover {z-index: 2;}
    .vm-light .vmenu>li>a:hover>span.border-top, .vm-light .vmenu>li>a:hover>span.border-bottom {z-index: 2;}

    /* sub-menu item */
    .vm-light .vmenu ul li{margin: 0;   padding: 0;}
    .vm-light .vmenu li li, .vm-light .vmenu li li a {   position:relative;}
    .vm-light .vmenu ul a{display: block;   position:relative;   white-space: nowrap;   height: 32px;   overflow: visible;   background: url(../images/body/vsubitem-light.png) repeat-x scroll top left transparent;  padding:0;   padding-left:38px;   padding-right:0;   line-height: 32px;  font-size: 12px;   margin-left: 0;   margin-right: 0;}
    .vm-light .vmenu ul a.active{background-position: bottom left;}
    .vm-light .vmenu ul a:hover{background-position: center left;   line-height: 32px;  font-size: 12px;   margin-left: 0;   margin-right: 0;}
    .vm-light .vmenu ul li li a:hover, .vm-light .vmenu ul li li a:hover.active{background-position: left center;}
    .vm-light .vmenu ul a:after, .ie7 .vm-light .vmenu ul a>span.vm-light .vmenu-icon{display: block;   position:absolute;   top:13px;   content:' ';   width: 3px;   height: 5px;   overflow: visible;   background: url(../images/body/vsubitemicon-light.png) no-repeat scroll top left; left:  25px;}
    .vm-light .vmenu ul a:hover:after{background-position: center left}
    .vm-light .vmenu ul a.active:hover:after{background-position: center left;}
    .vm-light .vmenu ul a.active:after{background-position: bottom left;}
    .vm-light .vmenu ul a:link, .vm-light .vmenu ul a:active{line-height: 32px;  margin-left: 0;   margin-right: 0;   text-shadow: none;}
    .vm-light .vmenu>li>ul>li:first-child{padding-top: 0;   margin-top:0;} 
    .vm-light .vmenu li li{position:relative;  margin-top:0;}
    .vm-light .vmenu ul ul a:after{left:50px;}
    .vm-light .vmenu ul ul ul a:after{left:75px;}
    .vm-light .vmenu ul ul ul ul a:after{left:100px;}
    .vm-light .vmenu ul ul ul ul ul a:after{left:125px;}
    .vm-light .vmenu ul ul a{padding-left:63px;}
    .vm-light .vmenu ul ul ul a{padding-left:88px;}
    .vm-light .vmenu ul ul ul ul a{padding-left:113px;}
    .vm-light .vmenu ul ul ul ul ul a{padding-left:138px;}
    .vm-light .vmenu li li a {border: 1px solid transparent;   border-style: none solid;   border-width: 0 1px;   margin-top: 1px;   margin-bottom: 1px;   border-color: #D4D4D4}
    .vm-light .vmenu li li a.active:hover {border-color: #D4D4D4;}
    .vm-light .vmenu li li a span.border-top, .vm-light .vmenu li li a span.border-bottom{   display: block;   position: absolute;   content: ' ';   left: -1px;   right: -1px;   height: 1px;background-color: transparent;  z-index: -1;}
    .vm-light .vmenu li li a span.border-top {top: -1px;  background-color: #D4D4D4;}
    .vm-light .vmenu li li a span.border-bottom {bottom: -1px; background-color: #D4D4D4;}
    .vm-light .vmenu li li a.active:hover span.border-top, .vm-light .vmenu li li a.active:hover span.border-bottom {background-color: transparent;}
    .vm-light .vmenu li li a.active:hover span.border-top, .vm-light .vmenu li li a.active:hover span.border-bottom {background-color: #D4D4D4;}
    .vm-light .vmenu li li a.active {border-color: #C7C7C7; z-index: 1; text-shadow: none;}
    .vm-light .vmenu li li a.active span.border-top, .vm-light .vmenu li li a.active span.border-bottom {background-color: #C7C7C7;  z-index: 1;}
    .vm-light .vmenu li li a:hover {z-index: 2; text-shadow: none}
    .vm-light .vmenu li li a:hover span.border-top, .vm-light .vmenu li li a:hover span.border-bottom {z-index: 2;}


    /*google maps*/
    #g-map{
        position: relative;
        overflow: hidden;
        margin-top: -155px;
    }
    .boxed #g-map{margin-top: 0;}

    #g-map .module{margin: 0;}
    .map-shadow { 
        display: inline-block; 
        height: 12px; 
        position: absolute; 
        top: 0; 
        z-index: 5;
    }