
#system .page-title {
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
}
#system .title {
    margin-top: 0;
}
#system .title a {
    text-decoration: none;
}
#system .title + .title {
    margin-top: 20px;
}
#system > .description {
    margin-bottom: 30px;
    overflow: hidden;
}
#system small {
    font-style: italic;
}
#system .item > header {
    margin-bottom: 15px;
}
#system .item > header .title {
    margin-bottom: 0;
}
#system .item > header .meta {
    font-size: 11px;
    line-height: 13px;
    margin: 10px 0 0;
}
#system .item > header .subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    margin: 0 0 8px;
    text-transform: uppercase;
}
#system .item > .content > *:first-child, #system .item > .content > [class*="align"]:first-child + * {
    margin-top: 0;
}
#system .item > .content > *:last-child {
    margin-bottom: 0;
}
#system .item > .links {
    margin: 22px 0 0;
}
#system .item > .links a {
    margin-right: 15px;
}
#system .item > .taxonomy {
}
#system .item > .trackback {
}
#system .item > .edit {
}
#system .item > *:last-child {
    margin-bottom: 0;
}
#system .item .socialbuttons {
    margin-top: 15px;
}
#system .item .socialbuttons > div {
    float: left;
    margin-right: 10px;
}
#system .items {
    margin: 0 -10px;
}
#system .items .item {
    margin: 0 10px;
}
#system .items > .width50 .title {
    font-size: 22px;
    line-height: 22px;
}
#system .items > .width33 .title {
    font-size: 20px;
    line-height: 20px;
}
#system .items > .width25 .title {
    font-size: 18px;
    line-height: 18px;
}
#system .pagination {
    margin-top: 10px;
    text-align: center;
}
#system .pagination a {
    text-decoration: none;
}
#system .pagination strong {
    font-weight: normal;
}
#system .pagination a, #system .pagination strong {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    min-width: 15px;
    padding: 0 5px;
}
#system .pagination > *:first-child {
    margin-left: 0;
}
#system .pagination a.previous, #system .pagination a.next {
    font-size: 16px;
    line-height: 23px;
}
#searchbox {
    position: relative;
}
#searchbox input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    outline: medium none;
    padding: 0;
    width: 100%;
}
#searchbox button {
    display: none;
}
#searchbox.filled button {
    border: medium none;
    bottom: 0;
    cursor: pointer;
    display: block;
    line-height: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#searchbox.loading button {
}
#searchbox .results {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    width: 300px;
    z-index: 10;
}
#searchbox .results li.results-header, #searchbox .results li.more-results {
    height: 35px;
    line-height: 35px;
    text-indent: 15px;
    text-transform: uppercase;
}
#searchbox .results li.more-results {
    cursor: pointer;
}
#searchbox .results li.result {
    cursor: pointer;
    padding: 10px 15px;
}
#searchbox .results li.result h3 {
    font-size: 16px;
    margin: 0 0 5px;
}
#searchbox .results li.result div {
    font-size: 11px;
}
.breadcrumbs {
    overflow: hidden;
}
.breadcrumbs a, .breadcrumbs span, .breadcrumbs strong {
    display: inline-block;
    text-decoration: none;
}
.breadcrumbs a, .breadcrumbs > span {
    margin-right: 10px;
}
#system .author-box {
    margin: 20px 0;
}
#system .title + .author-box {
    margin-top: 0;
}
#system .author-box .avatar {
    float: left;
    margin-right: 15px;
}
#system .author-box .name {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 10px;
}
#system .author-box .description {
}
#system #comments {
    margin-top: 20px;
}
#system #comments h3.comments-meta {
    margin: 0 0 10px;
}
#system #comments ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#system #comments .comment-head {
    margin-bottom: 10px;
    overflow: hidden;
}
#system #comments .comment-head .avatar {
    float: left;
    margin-right: 10px;
}
#system #comments .comment-head .author {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 8px 0 0;
}
#system #comments .comment-head .meta {
    font-size: 11px;
    margin: 3px 0 0;
}
#system #comments .comment-body {
    margin-bottom: 20px;
    padding: 0 10px;
}
#system #comments .comment-body .content {
    text-align: justify;
}
#system #comments .comment-body .reply {
    margin: 10px 0 0;
}
#system #comments .no-response .comment-body .reply {
    display: none;
}
#system #comments .comment-body .moderation {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0 0;
}
#system #comments ul.level1 ul {
    padding-left: 55px;
}
#system #respond h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 10px;
}
#system #respond p.user {
    margin: 0;
}
#system #respond input[type="text"] {
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    width: 200px;
}
#system #respond textarea {
    height: 100px;
    max-width: 400px;
    width: 100%;
}
#system ul #respond {
    margin: 0 0 30px;
    padding-left: 10px;
}
.comments-list > article {
    margin-top: 10px;
    overflow: hidden;
    padding-top: 10px;
}
.comments-list > article:first-child {
    margin: 0;
    padding: 0;
}
.comments-list .avatar {
    float: left;
    margin-right: 10px;
}
.comments-list .author {
    font-size: 12px;
    line-height: 18px;
    margin: 2px 0 0;
}
.comments-list .meta {
    font-size: 11px;
    font-style: italic;
    line-height: 13px;
    margin: 0;
}
.comments-list .content p {
    margin: 5px 0 0;
}
.tagcloud {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.tagcloud li {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}
.tagcloud a {
    white-space: nowrap;
}
.tagcloud .weight1 a {
    font-size: 11px;
}
.tagcloud .weight2 a {
    font-size: 12px;
}
.tagcloud .weight3 a {
    font-size: 13px;
}
.tagcloud .weight4 a {
    font-size: 14px;
}
.tagcloud .weight5 a {
    font-size: 15px;
}
.tagcloud .weight6 a {
    font-size: 16px;
}
.tagcloud .weight7 a {
    font-size: 18px;
}
.tagcloud .weight8 a {
    font-size: 20px;
}
.tagcloud .weight9 a {
    font-size: 23px;
    letter-spacing: -1px;
}
.tagcloud .weight10 a {
    font-size: 26px;
    letter-spacing: -1px;
}

#searchbox {
    background-image: url("../img/searchbox_magnifier.png");
    background-repeat: no-repeat;
    height: 28px;
    padding: 0 30px;
    width: 150px;
}