
a.button-more {
	padding: 3px 10px;
	border: 1px solid #ddd;
}

/* Images and Objects (Needed for System Markup)
----------------------------------------------------------------------------------------------------*/

img.border-box { border: 1px solid #ddd; }
.size-auto{width: 100%;}
.size-auto.pic3d, .size-auto.pic-border{width: 96.7%;}

/* Lists and Tables (Needed for System Markup)
----------------------------------------------------------------------------------------------------*/

/* Line */
ul.line > li {background: url(../images/body/block-div-h.png) repeat-x scroll 0 100% transparent;  padding-bottom: 5px;}
ul.line > li:first-child { border: none; }

/* Check */
ul.check > li {
	padding: 4px 0 0 30px;
	background: url(../images/tools/list_check.png) 0 0 no-repeat;
}

/* Zebra List and Table */
table{ border: 1px solid #C1C1C1;}
ul.zebra > li,
table.zebra tbody td { border-bottom: 1px solid #c1c1c1; }
ul.zebra > li:first-child,
table.zebra tbody tr:first-child td { border-top: 1px solid #ddd; }

ul.zebra > li.odd,
table.zebra tbody tr.odd { background: #fafafa; }
ul.zebra > li:nth-of-type(odd),
table.zebra tbody tr:nth-of-type(odd) { background: #fafafa; }

table.zebra caption { color: #999; }
table.zebra tfoot {font-style: normal;}

table.zebra th {font-size: 14px;}
table.zebra tfoot td,
table.zebra thead th{padding: 10px 5px;}


/*custom*/
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; margin-top: 10px;}
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul.no-pad{padding-left: 0;}
ul ul, ul ol, ol ol, ol ul { margin: 4px 0 5px 22px  }
ul ul li, ul ol li, ol ol li, ol ul li { margin-bottom: 3px; }
li { line-height: 18px; margin-bottom: 3px}
ol li{margin-bottom: 3px}
ul.zebra > li {margin-bottom: 0;}
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/*bullets*/
.bullet-1 li,.bullet-2 li,.bullet-3 li,.bullet-4 li,.bullet-5 li,.bullet-6 li,.bullet-7 li,.bullet-8 li{margin-bottom: 3px;}
.bullet-1 span,.bullet-2 li span,.bullet-3 li span,.bullet-4 li span,.bullet-5 li span,.bullet-6 li span,.bullet-7 li span,.bullet-8 li span{
	line-height:1.5em;  
	padding: 0 0 0 22px; 
	background: url(../images/typo/bullets.png) no-repeat scroll 0 7px transparent; 
	margin-bottom: 3px;}

.bullet-1 li span{background-position: 0 4px}
.bullet-2 li span{background-position: 0 -60px}
.bullet-3 li span{background-position: 0 -124px}
.bullet-4 li span{background-position: 0 -188px}
.bullet-5 li span{background-position: 0 -252px}
.bullet-6 li span{background-position: 0 -315px}
.bullet-7 li span{background-position: 0 -384px}
.bullet-8 li span{background-position: 0 -452px}

/*special icons*/
.special-1 li,.special-2 li,.special-3 li,.special-4 li,.special-5 li,.special-6 li,.special-7 li,.special-8 li,.special-9 li,.special-10 li,.special-11 li,.special-12 li,.special-13 li{
	line-height:1.5em;
	margin:3px 2px; 
	padding: 2px 0 0 0}

.special-1 li span,.special-2 li span,.special-3 li span,.special-4 li span,.special-5 li span,.special-6 li span,.special-7 li span,.special-8 li span,.special-9 li span,.special-10 li span,.special-11 li span,.special-12 li span,.special-13 li span{
	background: url(../images/typo/menu-icons.png) no-repeat scroll 0 0 transparent; 
	line-height:1.5em;
	padding: 2px 0 0 22px}

.special-1 li span{background-position: 0 0}
.special-2 li span{background-position: 0 -129px}
.special-3 li span{background-position: 0 -260px}
.special-4 li span{background-position: 0 -392px}
.special-5 li span{background-position: 0 -526px}
.special-6 li span{background-position: 0 -656px}
.special-7 li span{background-position: 0 -786px}
.special-8 li span{background-position: 0 -916px}
.special-9 li span{background-position: 0 -1048px}
.special-10 li span{background-position: 0 -1181px}
.special-11 li span{background-position: 0 -1310px}
.special-12 li span{background-position: 0 -1440px}
.special-13 li span{background-position: 0 -1576px}


/* Horizontal-Rule
----------------------------------------------------------------------------------------------------*/

	hr, 
	hr.divide-no-margin, 
	hr.divide { 
		display: block; 
		height: 3px; 
		border: 0; 
		padding: 0; 
		clear: both;}

	article hr.divide{ margin: 2em -20px 2em -1.5em}
	hr.divide-no-margin{ margin: 0 -2.1% -1px}
	hr{margin: 1em 0 1em 0; background: url(../images/body/hr-dotted.png) repeat-x scroll 0 0 transparent;}
	hr.divide-no-margin, hr.divide{background: url(../images/body/hr-divide.png) repeat-x scroll 0 0 transparent;}



/*transition
----------------------------------------------------------------------------------------------------*/
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	textarea,
	.breadcrumbs a, #copyright a, .wk-twitter-list a, .postcontent-title a, 
	#searchbox, #searchbox .results li.result, .pic-border, .spot-on .image-wrap, .spot-on .image-wrap:hover{
		-moz-transition:all 0.3s linear;
		-webkit-transition:all 0.3s linear;
		-o-transition:all 0.3s linear;
		-ms-transition:all 0.3s linear;
		transition:all 0.3s linear;
	}

	.menu-dropdown li.level2:hover a{
		-moz-transition:background 0.1s linear;
		-webkit-transition:background 0.1s linear;
		-o-transition:background 0.1s linear;
		-ms-transition:background 0.1s linear;
		transition:background 0.1s linear;
	}

/* Definition Lists
----------------------------------------------------------------------------------------------------*/

dl.separator dt {	
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

/* border code because of RTL */
dl.separator dd {
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #DDD;
}

dl.separator dt:before {
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	width: 30px;
	border-top: 1px solid #DDD;
}

dl.separator dt:after {
	content: "";
	position:absolute;
	top: -3px;
	right: -3px;
	width: 5px;
	height: 5px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius:6px;
}

dl.separator dt:first-child:before,
dl.separator dt:first-child:after { display: none; }



/* Blockquotes
----------------------------------------------------------------------------------------------------*/

	blockquote { margin: 0 0 0; padding: 0 15px 0 0; }
	blockquote img{padding: 2px; float: right}
	blockquote .author{float: right; font-weight: bold; font-size: 15px}
	blockquote .jobtitle{float: right; font-weight: normal; font-size: 14px; line-height: 1.5}
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote, blockquote p{ color: #404040;  font-size: 20px;  font-style: normal;  line-height: 150%; }
	blockquote strong, blockquote p strong {font-weight: normal;}
	blockquote cite { display: block; font-size: 12px; color: #555555; }
	blockquote cite a { color: #555555;}
	blockquote a:visited, blockquote cite a:visited { color: #555555;}

	blockquote p.icon {padding-right: 64px; background: url(../images/body/user.png) no-repeat scroll 100% 0 transparent; }

	.column blockquote p, .column blockquote{font-size: 24px}
	.quotes{color: #404040;  font-family: georgia; font-style: italic; font-size: 16px}
	.quotes p{font-size: 20px; font-family: georgia; color: #404040; font-style: italic; line-height: 150%}
	.quotes p strong{font-weight: normal; color: #3179C3;}
	.dotted{background: url(../images/body/block-div-h.png) repeat-x scroll 0 100% transparent; padding-bottom: 10px;}
  
	/* testimonial */
	.testimonial{background:url(../images/body/quote.png) no-repeat scroll 0 80% transparent}
	.testimonial p{display: none; background:none;line-height:1.5em;text-align:left; padding: 10px 0}
	.testimonial img{float: right; padding: 15px;}
	.testimonial .author{font-style: italic;  float: right; padding: 15px 0; font-weight: bold}

	.small-caps {text-transform: uppercase; letter-spacing: 1.5px; font-size: 11px;}

/* Text
----------------------------------------------------------------------------------------------------*/

/* Inline Text Box */
em.box { 
	border: 1px dotted #bbb;
	background: #fafafa;
	color: #444;
}

/* Dotted Horizontal Rule */
hr.dotted { background: url(../images/tools/line_dotted.png) 0 0 repeat-x; }

mark{padding:1px 4px; -moz-border-radius:3px;  -webkit-border-radius:3px;  -ms-border-radius:3px;  -o-border-radius:3px;  border-radius:3px;  }
mark{background: #A8CAEA; color: #1F5A7A; text-shadow: none; border: 1px solid #559ABD;}


/* Boxes
----------------------------------------------------------------------------------------------------*/

.box-content {
	background: #fafafa;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	     -o-border-radius: 4px;
	        border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #FFF;
       -moz-box-shadow: 0 1px 0 #FFF;
       	-ms-box-shadow: 0 1px 0 #FFF;
       	 -o-box-shadow: 0 1px 0 #FFF;
            box-shadow: 0 1px 0 #FFF;
}

.box-note{
	background: #fafafa;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.box-info,
.box-warning,
.box-hint,
.box-download,
#system-message dd {
	background: #fafafa;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-moz-box-shadow:0 -1px 2px #FFFFFF inset;-ms-box-shadow:0 -1px 2px #FFFFFF inset;-o-box-shadow:0 -1px 2px #FFFFFF inset;-webkit-box-shadow:0 -1px 2px #FFFFFF inset;  box-shadow:0 -1px 2px #FFFFFF inset; text-shadow:1px 1px 1px #FFFFFF; border-width: 1px; border-style: solid; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px;-o-border-radius: 4px; border-radius: 4px;
}

.box-info {
	background: #c3d1e1 url(../images/tools/box_info.png) 0 0 no-repeat;
	border-color: #A9C3DB;  color: #3F4F63;  text-shadow: 0 1px #F5F8F9; 
}

#system-message dd{
	background: #c3d1e1;  color: #3F4F63 !important; border-width: 1px !important; text-shadow: 0 1px #F5F8F9; text-shadow: none;
	border-left-color: #84A7DB; border-right-color: #84A7DB;
}

#system-message dd.notice{
	border-left-color: #F0DC7E; border-right-color: #F0DC7E; color: #855303 !important;
}

.box-warning {
	background: #f6a2a2 url(../images/tools/box_warning.png) 0 0 no-repeat;
	border-color: #EC9494;  color: #742E2E;  text-shadow: 0 1px #EFD5D5; 
}

.box-hint {
	background: #ffe8c3 url(../images/tools/box_hint.png) 0 0 no-repeat;
	border-color: #FFCA77;  color: #855303;  text-shadow: 0 1px #FEFCEA;
}

.box-download {
	background: #e4efc0 url(../images/tools/box_download.png) 0 0 no-repeat;
	border-color: #B4D264;  color: #434B3D;  text-shadow: 0 1px #fff; 
}


/* Forms (Needed for System Markup)
----------------------------------------------------------------------------------------------------*/

form.box fieldset { border: 0 none; }
form.box legend { 
	background: none; 
	border: 0 none; 
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	background: #D1D1D1;
	border-bottom: 1px solid #fff;
	
}

form.box fieldset > div {
margin: 7px 0;
}

/* Mobile Switcher (Needed for Mobile)
----------------------------------------------------------------------------------------------------*/

.mobile-switcher {
	background: #eee;
	border: 1px solid #aaa;
}



/*zoo components*/
#lightbox-content{outline: 1px solid #404040;}
#lightbox-outer, #lightbox-content{border: 0px solid #202020;}
#lightbox-outer{
	-webkit-box-shadow: 0 0 5px #000;
	   -moz-box-shadow: 0 0 5px #000;
	        box-shadow: 0 0 5px #000;
}
#lightbox-title-over {
text-shadow: 0 1px 0 black;
border-top: 1px solid rgba(0,0,0,0.5);
}

.overlay-default, .overlay{text-shadow: 0 0 1px #000;}

.pos-media{margin-bottom: 15px;}
.element-textarea{margin-top: -15px !important;}


/*widget-kit*/
.mejs-controls{text-shadow: none;}
.mejs-overlay-button{opacity: 0.5;
-moz-opacity: 0.5;
filter:alpha(opacity=50);}



/*tags
----------------------------------------------------------------------------------------------------*/

	a.tag-body:active{top: 1px}
	.tag-body, a.tag-body {display: inline-block;  position: relative;  font-size: 12px;  height: 15px;  padding: 2px 8px 8px 15px;  margin: auto auto 9px 15px; border-width: 1px 1px 1px 0;  border-style: solid;
	  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	  -ms-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	  -o-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	  -khtml-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	  -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;  border-radius: 4px;}
	.tag-body.price{margin: -21px !important}

	.tag:after {
	  position: absolute;
	  background: none repeat scroll 0 0 whitesmoke; /* change 'whitesmoke' to background color of your body */
	  border: 1px solid #FFFFFF;
	  -moz-border-radius: 25px;
	  -webkit-border-radius: 25px;
	  -ms-border-radius: 25px;
	  -o-border-radius: 25px;
	  border-radius: 25px;
	  -moz-box-shadow: -1px -1px 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	  -webkit-box-shadow: -1px -1px 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	  -ms-box-shadow: -1px -1px 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	  -o-box-shadow: -1px -1px 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	  box-shadow: -1px -1px 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	  content: "";
	  height: 5px;
	  left: 0;
	  top: 9px;
	  width: 5px;
	  z-index: 0;
	  background-clip: padding-box;
	  -webkit-background-clip: padding-box;
	}

	.tag:before{
	  background: inherit;
	  -moz-transform: rotate(45deg) translate(-8px, 5px);
	  -webkit-transform: rotate(45deg) translate(-8px, 5px);
	  -ms-transform: rotate(45deg) translate(-8px, 5px);
	  -o-transform: rotate(45deg) translate(-8px, 5px);
	  transform: rotate(45deg) translate(-8px, 5px);
	  border-style: solid;
	  border-width: 0 0 1px 1px;
	  -moz-border-radius: 3px 4px 3px 6px;
	  -webkit-border-radius: 3px 4px 3px 6px;
	  -ms-border-radius: 3px 4px 3px 6px;
	  -o-border-radius: 3px 4px 3px 6px;
	  border-radius: 3px 4px 3px 6px;
	  height: 79%;
	  content: "";
	  left: 2px;
	  top: 18%;
	  position: absolute;
	  width: 19px;
	  -moz-box-shadow: 1px -1px 1px rgba(255, 255, 255, 0.5) inset;
	  -webkit-box-shadow: 1px -1px 1px rgba(255, 255, 255, 0.5) inset;
	  -ms-box-shadow: 1px -1px 1px rgba(255, 255, 255, 0.5) inset;
	  -o-box-shadow: 1px -1px 1px rgba(255, 255, 255, 0.5) inset;
	  box-shadow: 1px -1px 1px rgba(255, 255, 255, 0.5) inset;
	  z-index: 0;
	}

	.tag{  bottom: 0;  height: 100%;  right: -1px;  width: 101%;  z-index: 0;  background: none !important;}

	/*yellow color*/
	.tag-body.yellow{
	border-color: #FFA71D; color: #202020; text-shadow: 0 1px #F0E9A1 !important; background: #feb645;
	background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645));
	background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%);
	background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%);
	background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%);
	background: linear-gradient(top, #f1e767 0%,#feb645 100%);
	}

	.yellow .tag:before{
	border-color: #FFA71D; background: #feb645;
	background: -moz-linear-gradient(-45deg,  #f1e767 0%, #feb645 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645));
	background: -webkit-linear-gradient(-45deg,  #f1e767 0%,#feb645 100%);
	background: -o-linear-gradient(-45deg,  #f1e767 0%,#feb645 100%);
	background: -ms-linear-gradient(-45deg,  #f1e767 0%,#feb645 100%);
	background: linear-gradient(-45deg,  #f1e767 0%,#feb645 100%);
	}

	a.yellow {color: #6F4503 !important}
	a.yellow:hover {color: #000 !important}
	a.tag-body:hover{
	  -moz-box-shadow: 1px 1px 0 #C0C0C0;
	  -webkit-box-shadow: 1px 1px 0 #C0C0C0;
	  -ms-box-shadow: 1px 1px 0 #C0C0C0;
	  -o-box-shadow: 1px 1px 0 #C0C0C0;
	  box-shadow: 1px 1px 0 #C0C0C0;
	}

	/*zoo tag fix*/
	li.element-itemtag a{margin-right: -5px; margin-left: 20px;}
	.zoo-tagcloud{text-align: left;}
	.zoo-tagcloud a{font-size: 12px !important; letter-spacing: 0 !important;}



	/*pre
	----------------------------------------------------------------------------------------------------*/
	.firefox pre, 
	.showhide li section
		{line-height: 21.9px;}

	pre {
	    background: url(../images/body/note.png) repeat-y scroll 0 0 transparent;
	    margin: 10px 13px 10px 15px;
	    padding: 21px 45px;
	    border: 1px solid #C1C7CD;
	    line-height: 22.9px;
	    position: relative;
	    text-shadow: none;
	}

	pre:after {
	    background: none repeat scroll 0 0 #FEFEFE;
	    border-color: #C1C7CD;
	    border-style: solid;
	    border-width: 0 1px 1px;
	    bottom: -4px;
	    content: "";
	    height: 2px;
	    left: 3px;
	    position: absolute;
	    width: 98.8%;
	    -webkit-box-shadow: 0 0 2px #c0c0c0;
	    -moz-box-shadow: 0 0 2px #c0c0c0;
	    -ms-box-shadow: 0 0 2px #c0c0c0;
	    -o-box-shadow: 0 0 2px #c0c0c0;
	    box-shadow: 0 0 2px #c0c0c0;
	}



	/* Buttons
----------------------------------------------------------------------------------------------------*/
	
	/*all buttons*/

	.button,
	.button-more, 
	.button-color, 
	.button-action, 
	button, 
	input[type="submit"], 
	input[type="reset"], 
	input[type="button"],
	.button-color, 
	button.button-color, 
	input[type="submit"].button-color,
	input[type="reset"].button-color, 
	input[type="button"].button-color, 
	#system .pagination a, 
	#system .pagination strong{
		border-width: 1px; 
		border-style: solid; 
		padding: 5px 12px; 
		font-size: 12px; 
		text-decoration: none; 
		line-height: 19px; 
		margin: 0; 
		display: inline-block;
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px; 
		-ms-border-radius: 3px; 
		-o-border-radius: 3px; 
		border-radius: 3px; }

	.button.full-width, 
	.button-color.full-width, 
	button.full-width, 
	input[type="submit"].full-width, 
	input[type="reset"].full-width, 
	input[type="button"].full-width {	
		width: 100%;
		padding-left: 0 !important;	
		padding-right: 0 !important; 
		text-align: center; }


	/*ff fix for padding*/
	.firefox input[type="button"]{padding: 7.5px 10px;}
	.firefox button[type="submit"]{padding: 4px 12px;}


	/*grey button*/
	a.button-action, 
	.button-more,  
	button.button-action, 
	input.button-action, 
	.button, 
	button, 
	input[type="submit"], 
	input[type="reset"], 
	input[type="button"], 
	#system .pagination a{
		color: #444444 !important; 
		border-color: #c0c0c0 #888888 #888888 #c0c0c0; 
		text-shadow: 0 1px rgba(255, 255, 255, .4);
	 	background-image: url(../images/typo/buttons.png); 
	 	background-repeat: repeat-x; 
	 	background-color: #efefef;}


	 /*pagination*/
	#system .pagination a{background-position: 100% -20px;}
	#system .pagination a:hover{background-position: 100% -65px;}
	#system .pagination a:active{background-position: 100% -110px;}


	/*big action button*/
	.button-action { 
		margin: 10px 1px 0 0;  
		line-height: 1; 
		padding: 15px 30px; 
		font-size: 15px; 
		text-transform: uppercase; 
		letter-spacing: 1px; }

	.button-action:hover { 
		color: #222; 
		border-color: #aaa #888 #888 #aaa; 	
		background-position: 100% -45px;}

	.button-action:active { 
		position: relative; 
		border-color: #666666;
		background-position: 100% -90px;}


	/*normal button*/
	.button-more, 
	.button, 
	button, 
	input[type="submit"], 
	input[type="reset"], 
	input[type="button"]{
		background-position: 100% -16px; }

	.button-more:hover, 
	.button:hover,
	button:hover, 
	input[type="submit"]:hover, 
	input[type="reset"]:hover, 
	input[type="button"]:hover{
		background-position: 100% -61px; }

	.button-more:active, 
	.button:active, 
	button:active, 
	input[type="submit"]:active, 
	input[type="reset"]:active, 
	input[type="button"]:active{
		background-position: 100% -106px; }


	/*button icons*/
	.button.icon span {
		background-image: url(../images/typo/menu-icons.png); 
		background-repeat: no-repeat; 
		display: inline-block; 
		height: 16px; 
		margin: -1px 0 -2px 7px; 
		position: relative; 
		width: 16px;}

	.icon-1 {background-position: 100% 0}
	.icon-2 {background-position: 100% -130px}
	.icon-3 {background-position: 100% -260px}
	.icon-4 {background-position: 100% -394px}
	.icon-5 {background-position: 100% -527px}
	.icon-6 {background-position: 100% -657px}
	.icon-7 {background-position: 100% -787px}
	.icon-8 {background-position: 100% -917px}
	.icon-9 {background-position: 100% -1049px}
	.icon-10 {background-position: 100% -1181px}
	.icon-11 {background-position: 100% -1311px}
	.icon-12 {background-position: 100% -1441px}
	.icon-13 {background-position: 100% -1577px}

	/*color buttons
 	-------------------*/
	a.button-color, 
	button.button-color, 
	input[type="submit"].button-color, 
	input[type="submit"].subbutton,
	input[type="reset"].button-color, 
	input[type="button"].button-color, 
	#system .pagination strong{
	text-shadow:none;
	background: url(../img/button.png) repeat-x scroll 100% 0px transparent;}

	a.button-color:hover, 
	button.button-color:hover, 
	input[type="submit"].button-color:hover, 
	input[type="submit"].subbutton:hover,
	input[type="reset"].button-color:hover, 
	input[type="button"].button-color:hover, 
	#system .pagination strong:hover{
		background-position: 100% -45px; 
		text-shadow:none; }
	
	a.button-color:active, 
	button.button-color:active, 
	input[type="submit"].button-color:active, 
	input[type="submit"].subbutton:active,
	input[type="reset"].button-color:active, 
	input[type="button"].button-color:active, 
	#system .pagination strong:active{	 
		background-position: 100% -90px;  
		text-shadow:none;}

	/*button-action */
	a.button-action.button-color, 
	button.button-action.button-color, 
	input[type="submit"].button-action.button-color, 
	input[type="reset"].button-action.button-color, 
	input[type="button"].button-action.button-color{
		background-position: 100% 0;}

	a.button-action.button-color:hover, 
	button.button-action.button-color:hover, 
	input.button-action.button-color:hover{
		background-position: 100% -45px;}

	a.button-action.button-color:active, 
	button.button-action.button-color:active, 
	input.button-action.button-color:active{
		background-position: 100% -90px;}



#it-lp{position: absolute; top: 0px; left: -5500px;}
/*toggles
----------------------------------------------------------------------------------------------------*/
	.showhide{margin: 20px 0 10px !important;  padding: 0}
	.showhide li{border:1px solid #FFF;  
	-webkit-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	-moz-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	-ms-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	-o-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA; 
	margin: 15px 0; padding: 0.25em 1em !important;
 	-moz-border-radius:4px; 
 	-webkit-border-radius:4px;  
 	-ms-border-radius:4px; 
 	-o-border-radius:4px; 
 	border-radius:4px; 
 	text-shadow: 0 1px 0 #ffffff; }


	.showhide li h4{color: #606060;  margin: 0; padding: 11px 45px 0px; height: 30px; font-size: 23px;}
	.expanded, 
	.collapse{
		background: url(../images/widget/plus-minus.png) 0 8px no-repeat scroll;}
	
	.collapse{background-position: 0 -42px;}
	
	.showhide li section, section.note { background: url(../images/body/note.png) repeat-y scroll 0 0 transparent;   
	-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px; -webkit-box-shadow: 0 0 1px #808080 inset, 0 0 1px #FFFFFF; -moz-box-shadow: 0 0 1px #808080 inset, 0 0 1px #FFFFFF; -ms-box-shadow: 0 0 1px #808080 inset, 0 0 1px #FFFFFF; -o-box-shadow: 0 0 1px #808080 inset, 0 0 1px #FFFFFF; box-shadow: 0 0 1px #808080 inset, 0 0 1px #FFFFFF;display: none;margin: 10px 13px 10px 45px;padding: 21px 45px; border: 1px solid #FFFFFF; color: #606060; line-height: 1.7em; font-size: 1em;}
	
	.showhide li section p, section.note p{line-height: 22.9px; text-shadow: none}
	.showhide li.open section{display: block;}
	.showhide li.close section{display: none;}
	section.note {display: block; width: auto; height: auto; margin: 10px 0; padding: 21px 10px 0}
	.showhide li.code section { font-family: monospace,monospace;}


	/*contact*/
	.module-contact {background: url(../images/map.png) no-repeat scroll 100% 80% transparent; margin-right: 10px}
	.cont-info{height: 25px; padding-left: 24px; font-style: normal; display: block; background: url(../images/widget/social.png) no-repeat;}
	.cont-info.phone{background-position: 0 -140px}
	.cont-info.email{background-position: 0 3px}
	.cont-info.town{background-position: 0 -173px}


	/*social links*/
	.top-links a, .post-share a{background-image: url(../images/widget/social-icons-dark.png); background-repeat: no-repeat; }
		
	/*top social*/
	.top-links{margin: 9px 12px 0;}
	.top-links a,.post-share a{display: block; float: left; height: 33px; width: 30px; text-indent: -9999em; padding: 1px; margin-left: 4px; outline: 0; }
	.post-share a{margin-right: 3px;}
	
	a.twitter{background-position: -52px -4px;} 	/*twitter*/
	a.facebook{background-position: -11px -77px;} 	/*facebook*/
	a.pinterest{background-position: -93px -77px;} 	/*pinterest*/
	a.google{background-position: -52px -77px;}		/*google-plus*/
	a.yahoo{background-position: -297px -4px;}		/*yahoo*/
	a.vimeo{background-position: -11px -4px;}		/*vimeo*/
	a.dribbble{background-position: -93px -4px;}	/*dribbble*/
	a.wordpress{background-position: -135px -4px;}	/*wordpress*/
	a.aim{background-position: -176px -4px;}		/*aim*/
	a.mail{background-position: -217px -4px;}		/*mail*/
	a.github{background-position: -176px -40px;}	/*github*/
	a.deviant{background-position: -257px -4px;}	/*deviant*/
	a.tumblr{background-position: -339px -4px;}		/*tumblr*/
	a.flickr{background-position: -217px -40px;}	/*flickr*/
	a.forrst{background-position: -257px -40px;}	/*forrst*/
	a.behance{background-position: -135px -77px;}	/*behance*/
	a.dropbox{background-position: -217px -77px;}	/*dropbox*/
	a.digg{background-position: -297px -77px;}		/*digg*/
	a.youtube{background-position: -339px -77px;}	/*youtube*/


/*tooltip
----------------------------------------------------------------------------------------------------*/
	.tooltip {
		display:none; 
		width:auto; 
		height:auto; 
		color:#c0c0c0; 
		font-size:11px; 
		position:absolute; 
		padding:4px 8px 2px; 
		border: 1px solid #131313; 
		border-bottom: 1px solid #101010;
		background: #353535;
		background: -moz-linear-gradient(top, #353535 0%, #131313 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#131313));
		background: -webkit-linear-gradient(top, #353535 0%,#131313 100%);
		background: -o-linear-gradient(top, #353535 0%,#131313 100%);
		background: -ms-linear-gradient(top, #353535 0%,#131313 100%);
		background: linear-gradient(top, #353535 0%,#131313 100%);
		text-shadow: 0 1px 0 #000;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		-ms-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		-moz-box-shadow: 0 -1px 2px #404040 inset;
		-webkit-box-shadow: 0 -1px 2px #404040 inset;
		-ms-box-shadow: 0 0 2px #404040 inset;
		-o-box-shadow: 0 0 2px #404040 inset;
		box-shadow: 0 -1px 2px #404040 inset;
		z-index: 1000}



/*Images
----------------------------------------------------------------------------------------------------*/
	.scale-with-grid {max-width: 100%; height: auto; }
	.pic-border{
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		    -ms-border-radius: 3px;
		     -o-border-radius: 3px;
		        border-radius: 3px;}

	.pic-border, .pic-round, .pic3d	{background-color:#FFFFFF; padding:5px; border: 1px solid #c7c7c7;}
	.pic3d, .pic-border	{border-color:#ffffff; padding:4px; text-shadow: 0 1px 0 #ffffff; margin: 1px;
	-webkit-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	-moz-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	-ms-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	-o-box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;
	box-shadow: inset 0 1px 2px #FFFFFF,0 0 3px #BABABA;}	

	#bottom-block .pic3d, #bottom-block .pic-border	{background-color: #202020; border-color:#101010; padding:4px; margin: 1px;
	-webkit-box-shadow: inset 0 1px 2px #404040,0 0 3px #000;
	-moz-box-shadow: inset 0 1px 2px #404040,0 0 3px #000;
	-ms-box-shadow: inset 0 1px 2px #404040,0 0 3px #000;
	-o-box-shadow: inset 0 1px 2px #404040,0 0 3px #000;
	box-shadow: inset 0 1px 2px #404040,0 0 3px #000;}


	.pic-border,
	.pic-border:hover{z-index:10;}	
	.pic-border:hover{
	  -webkit-box-shadow:1px 1px 5px #E67F1A;
	  -moz-box-shadow:1px 1px 5px #E67F1A;
	  -o-box-shadow:1px 1px 5px #E67F1A;
	  -ms-box-shadow:1px 1px 5px #E67F1A;
	  box-shadow:1px 1px 5px #E67F1A;
	  border: 1px solid #B76515 !important;}

	p.img_caption{
	font-size: 11px;
	color: gray;
	border: 1px solid silver;
	border-radius: 3px;
	padding: 1px 7px;
	margin: 5px 0 20px;
	display: inline-block;
	position: relative;
	background: white;
	-webkit-box-shadow: 1px 1px 0 #FFF;
	   -moz-box-shadow: 1px 1px 0 #FFF;
	        box-shadow: 1px 1px 0 #FFF;
	}


/* Notifications
----------------------------------------------------------------------------------------------------*/

	.keypoint p,
	.tip p,
	.info p,
	.fail p{
		line-height: 1.5em; 
		margin:5px 15px 5px 20px;
		min-height:50px;
		padding-left:75px; 
		background: url(../images/typo/notify.png) no-repeat 0 0;}

	.keypoint p{background-position: 0 -358px;}
	.tip p{background-position: 0 -166px;}
	.info p{background-position: 0 -574px;}
	.fail p{background-position: 0 4px;}

	/*ie7 fix*/
	.ie7 .keypoint,.ie7  .tip,.ie7 .info,.ie7 .warning,.ie7 .fail{padding: 15px 0 15px 15px;}

	/*colors*/
	.green{border-color: #B4D264;  color: #65715B;  text-shadow: 0 1px #E8EDE1; background: #e4efc0;}
	.yellow, .highlight{border-color: #FFCA77;  color: #A96903;  text-shadow: 0 1px #FEFCEA; background: #ffe8c3;}
	.blue{border-color: #A9C3DB;  color: #50737E;  text-shadow: 0 1px #F5F8F9; background: #c3d1e1;}
	.red{border-color: #EC9494;  color: #AB4343;  text-shadow: 0 1px #EFD5D5; background: #f6a2a2;}



/*breadcrumbs
----------------------------------------------------------------------------------------------------*/

	#breadcrumbs{
		display:block;
		overflow:visible;
		height:36px;  
		left: 0;
		-moz-box-shadow: 0 -3px 4px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
		-webkit-box-shadow: 0 -3px 4px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
		-ms-box-shadow: 0 -3px 4px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
		-o-box-shadow: 0 -3px 4px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
		box-shadow: 0 -3px 4px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
		border-bottom: 1px solid #B0B0B0;
		/*background: url(../images/body/breadcrumb-bg.png) repeat-x scroll 100% 0 #494949;*/
	}

	#breadcrumbs .wrapper{padding-left: 10px;}
	.breadcrumbs {line-height: 38px;}
	.breadcrumbs strong{font-weight: normal;}
	a.home{width: 16px; height: 16px; margin: 10px 10px 5px; float: left;}
	a.home{background:url(../img/breadcrumb-home.png) 0 0 no-repeat}
