{% extends "base.html" %}
{% load cms_tags %}

{% block page_title %}
    <title>Страница не найдена</title>
{% endblock %}


{% block article_title %}
    <h3 class="title">Страница не найдена</h3>
{% endblock %}


{% block content %}
    <p>К сожалению, страницы {{ request.path }} не существует, либо ее адрес изменился.
        Вероятно, она была удалена сервера, либо её здесь никогда не было.</p>
{% endblock %}