{% load cms_tags sekizai_tags menu_tags %}


<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{% page_attribute meta_keywords %}">
    <meta name="description" content="{% page_attribute meta_description %}">
    <meta name='yandex-verification' content='5fb1ccb3abc6e1e4' />
    {% block page_title %}
    <title>{% page_attribute page_title %}</title>
    {% endblock %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/extensions.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/tools.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/menus.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/modules.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/system.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/script.js"></script>
    {% endaddtoblock %}

    {% render_block "css" %}
    {% render_block "js" %}
</head>

<body id="page" class="page bg_texture_1 bg-light vm-light cur-chrome ts-light show-m-overlay ">
	<div id="header-block" class="head_texture_0 sp-light">
	    <div class="header-glare">
	        <div class="header-overlay head_overlay_12">
	            <div class="wrapper grid-block">
        		 	<header id="header">
		         		<div id="header-top">
                            <a id="logo" href="/"><span class="logo-img"></span></a>
                            <div class="header-contacts">
                                <span>+7 (8332) 755-136</span>
                                <a href="mailto:corp43@gmail.com">corp43@gmail.com</a>
                            </div>
							<div class="float-right search-box">
    							<div id="search">
                                    <form class="jqtransformdone" id="searchbox" action="#" method="get" role="search">
                                        <input autocomplete="off" name="searchword" placeholder="Поиск..." type="text">
                                    </form>

                                </div>
						    </div>
                        </div>
				
				        <div id="header-bottom">
					        <div id="menubar" class="grid-block">
                                <nav id="menu">
                                    <ul class="menu menu-dropdown">
                                        {% show_menu 0 100 100 100 %}
                                    </ul>
                                </nav>
                                {% comment %}
                                <!-- social icons -->
                                <div class="float-right top-links">
                                    <a class="facebook" href="" target="blank"></a>
                                    <a class="pinterest" href="" target="blank"></a>
                                    <a class="google" href="" target="blank"></a>
                                    <a class="twitter" href="" target="blank"></a>
                                </div>
                                {% endcomment %}
                            </div>
				        </div>

                        {% block slider %}

                        {% endblock %}

                    </header>
                </div>
		    </div>
		</div>
	</div>

    <div class="header-divide"></div>

    <div id="mid-block" class="mid_texture_12">
        <div class="mid-gradient">
            <section id="breadcrumbs">
                <div class="wrapper grid-block">
                    <a href="/" class="home"></a>
                    {% show_breadcrumb "menu/breadcrumbs.html" %}
                </div>
            </section>

            <div class="wrapper grid-block"></div>
            <div class="mid-divide"></div>
        </div>
    </div>
    {% block content_wrapper %}
	<div class="wrapper grid-block content-texture content_texture_t">
	    <div id="main" class="grid-block">
			<div style="min-height: 101px;" id="maininner" class="grid-box">
				<section id="content" class="grid-block">
                    <div id="system-message-container"></div>
                    <div id="system">
                        <article class="item">
                            <header>
                                {% block article_title %}
                                <h3 class="title">{% page_attribute "title" %}</h3>
                                {% endblock %}
                            </header>
                                <div class="content clearfix">
                                    {% block content %}

                                    {% endblock %}
                                </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="footer-divide "></div>
    <section id="bottom-c" class="grid-block footer_texture_3">
        <div class="wrapper grid-block">
            <div class="footer-body">
                <div class="grid-box width33 grid-h">
                    <div class="module mod-box  deepest">
    		            <h3 class="module-title"><span class="color">Полезная информация</span> </h3>
                        <p>
                            <img src="{{ STATIC_URL }}img/wood-full.png" alt="" border="0" align="left">
                            Газ или пеллеты?<br>
                            Сравнение способов отопления.<br>
                            Устройство котлов на пеллетах.<br>
                            Производство пеллет.<br>
                            И многое другое...

                        </p>
                        <p><a class="button-color right" href="{% page_url "info" %}">Узнать</a></p>
		
                    </div>
                </div>
                <div class="grid-box width33 grid-h">
                    <div class="module mod-box  deepest">
                        <h3 class="module-title"><span class="color">Вопрос/Ответ</span></h3>
                        <p>
                            <img src="{{ STATIC_URL }}img/wood-paper.png" alt="" border="0" align="left">
                            Ознакомьтесь с самыми часто задаваемыми вопросами.<br>
                            <br>
                            И найдите ответы на интересующие Вас вопросы.

                        </p>
                        <p><a class="button-color right" href="{% page_url "reviews" %}">Ознакомиться</a></p>
                    </div>
                </div>
                <div class="grid-box width33 grid-h">
                    <div class="module mod-box  deepest">
                        <h3 class="module-title"><span class="color">Видео</span></h3>
                        <p>
                            <img src="{{ STATIC_URL }}img/wood-play.png" alt="" border="0" align="left">
                            Посмотрите своими глазами, что представляет собой котел на пеллетах.<br>
                            Убедитесь как все просто и удобно!
                        </p>
                        <p><a class="button-color right" href="{% page_url "video" %}">Смотреть</a></p>
                    </div>
                </div>
            </div>
        </div>
	</section>
			

	<div id="footer-block" class="footer_texture_3">
        <div class="footer-overlay-bottom">
            <div class="wrapper grid-block">
                <section id="copyright">
                    <div class="module   deepest">
                        <p>Copyright (c) 2012-{% now "Y" %}. Pelletov company</p>
                    </div>
                </section>
            </div>
        </div>
        <a id="totop-scroller" href="#page"></a>
    </div>



    <a style="display: none;" href="#" id="toTop"><span id="toTopHover"></span>To Top</a>
    <div id="lightbox-tmp"></div>
    <div id="lightbox-loading"><div></div></div>
    <div style="display: none;" id="lightbox-overlay"></div>
    <div id="lightbox-wrap">
        <div id="lightbox-outer">
            <div id="lightbox-content"></div>
            <a id="lightbox-close"></a>
            <div id="lightbox-title"></div>
            <a href="javascript:;" id="lightbox-left"><span id="lightbox-left-ico"></span></a>
            <a href="javascript:;" id="lightbox-right"><span id="lightbox-right-ico"></span></a>
        </div>
    </div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23838001 = new Ya.Metrika({id:23838001,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23838001" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
