{% extends "base.html" %}
{% load cms_tags %}

{% block content_wrapper %}
    <div class="wrapper grid-block content-texture content_texture_t" >
        <div class="grid-block" id="main">
            <div class="grid-box" id="maininner" style="min-height: 381px;float: right; width: 598px;">
                <section class="grid-block" id="content">
                    <div id="system-message-container"></div>
                    <div id="system">
                    	<div class="item">
                            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=_2mjC1zvKAzr8ZrhBixpowob40e2dhP6&width=585&height=450"></script>
                    	</div>
                    </div>
                </section>

            </div>

            <aside class="grid-box" id="sidebar-a" style="min-height: 381px;">
                <div class="grid-box width100 grid-v">
                    <div class="module mod-box  deepest">
                        <h3 class="module-title">{% page_attribute 'title' %}</h3>
                        {% placeholder content %}
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}