{% extends "base.html" %}
{% load sekizai_tags cms_tags %}


{% block slider %}
    {% addtoblock "css" %}
        <link  href="{{ STATIC_URL }}fotorama/fotorama.css" rel="stylesheet">
        <style>
        .fotorama{
            margin-bottom: 3px;
            margin-top: 2px;
        }
        </style>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}fotorama/fotorama.js"></script>
    {% endaddtoblock %}

    <div class="fotorama" data-width="998" data-height="390" data-loop="true">
      {% placeholder slider %}
    </div>
{% endblock %}


{% block content %}
    {% placeholder content %}
{% endblock %}