{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    {% for page in current_page.children.published %}
        <h3><a href="{%  page_url page %}">{% page_attribute "title" page %}</a></h3>
        {% show_placeholder "description" page %}
    {% endfor %}
{% endblock %}