{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

    {% for page in current_page.children.published %}
        <table style="width: 100%; border: none; margin-bottom: 20px;">
            <tr style="margin-bottom: 10px;">
                <td style="vertical-align: middle; text-align: center; width: 300px">
                    {% show_placeholder "preview" page %}
                </td>
                <td style="text-align: left; vertical-align: top; padding-left: 20px;">
                    <h3 style="margin-top: 0px;"><a href="{%  page_url page %}">{% page_attribute "title" page %}</a></h3>
                    {% show_placeholder "description" page %}
                </td>
            </tr>
        </table>
    {% endfor %}

{% endblock %}